@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



@model 鮮蔬果季_前台.ViewModels.BlogDetailListViewModel


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="BlogDetailID" type="hidden" />
        <div class="form-group">
            @*在ViewModel中有設定資料欄位的DisplayName,故此處輸入欄位名稱,會帶入設定的DisplayName的名稱*@
            <label asp-for="Supplier.SupplierName" class="control-label"></label>
            <input asp-for="Supplier.SupplierName" class="form-control" />
            <span asp-validation-for="Supplier.SupplierName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Subtitle" class="control-label"></label>
            <input asp-for="Subtitle" class="form-control" />
            <span asp-validation-for="Subtitle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Label" class="control-label"></label>
            <input asp-for="Label" class="form-control" />
            <span asp-validation-for="Label" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PublishedDate" class="control-label"></label>
            <input asp-for="PublishedDate" class="form-control"  />
            <span asp-validation-for="PublishedDate" class="text-danger"></span>
        </div>


        @*文字編輯器*@
        <div class="form-group">
            <label asp-for="Maintext" class="control-label"></label>

            @*前台觸發這邊的編輯器id (editor)*@
            <div id="editoredit" class="descript" style="min-height:200px;" name="Maintext">
                @Html.Raw(Model.BlogDetail.Maintext)
            </div>         @*Raw代表使用HTML語法轉譯,因為透過文字編輯器存進資料庫的資料,有包含html標籤*@
            <input type="hidden" class="Maintext" name="Maintext">
        </div>


        <div class="form-group">
            <label class="control-label">部落格相片</label>
            <div class="col-md-12 photobox" style="border:1px solid lightgray;padding:20px">
                <div class="imgLoad">
                    @*載入上傳圖片區塊imgClear*@

                    @*<img src="~/images/農友部落格照/@Model.BlogDetail.PhotoPath." style="width:150px;height:100px;object-fit:cover;margin-right:10px;margin-bottom:10px;">
                    <input type="hidden" name="photoList" class="photoHid" value="@Model.BlogDetail.PhotoPath" />*@
                                       
                </div>
                <div class="input-group mb-3">
                    @*<input type="file" class="selectphoto"/>*@
                    <div class="custom-file">
                        @*透過此處的selectphoto觸發*@
                        <input type="file"  class="custom-file-input selectphoto" id="inputGroupFile02" name="photo">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">選擇圖片</label>
                    </div>
                    <div class="input-group-append">
                        <a class="input-group-text imgClear" style="cursor:pointer">清空</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
