@model 鮮蔬果季_前台.ViewModels.EventListViewModel

@{
    ViewData["Title"] = "EventCreate";
}



@section Styles{
    <style>
        .imgbox {
            width: 300px;
            height: 200px;
            object-fit: cover
        }

        .boxSize {
            width: 760px;
            height: 35px;
        }

        .box間格 {
            width: 30px;
            height: 33px;
        }

        label {
            font-size: large;
            color: black
        }
    </style>

}


@*條件1   form 的method="post"   *@
<form method="post" name="CreatEventForm">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="page-title">新增活動</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <label for="simpleinput">活動名稱</label>            @*input欄位的name名稱,與資料表欄位名稱相同*@
                                <input type="text" id="EventName" class="form-control" name="EventName" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="simpleinput">供應商ID</label>
                                <input type="number" id="SupplierId" class="form-control" name="SupplierId" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="simpleinput">人數上限</label>
                                <input type="number" id="EventParticipantCap" class="form-control" name="EventParticipantCap" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="simpleinput">活動類別</label>
                                <br />

                                <input type="radio" value="體驗類" name="Lable " required />
                                <label style="padding-right:15px">體驗類</label>

                                <input type="radio" value="體驗類" name="Lable " required />
                                <label>活動類</label>

                                @*<select class="form-control select2" id="simple-select2">
                                        <optgroup label="活動類別選擇">

                                            <input type="radio" value="體驗類" name="Lable" />
                                            <option value="參訪類" name="Lable">參訪類</option>

                                        </optgroup>
                                    </select>*@


                                @*<div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div> <!-- /.col -->



                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <p class="mb-2">
                                <strong></strong>
                            </p> @*標題*@



                            <div class="form-group mb-3">
                                <label for="simpleinput">活動費用</label>
                                <input type="number" id="EventPrice" class="form-control" name="EventPrice" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="simpleinput">活動地點</label>
                                <input type="text" id="EventLocation" class="form-control" name="EventLocation" required>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="date-input1">開始日期</label>
                                    <div class="input-group">
                                        <input type="datetime" class="form-control" id="StartDate" placeholder="YYYY/MM/DD hh:mm" value="2021/1/1 08:30" aria-describedby="button-addon2" name="EventStartDate" required>
                                        <div class="input-group-append">
                                            <div class="input-group-text" id="button-addon-date">
                                                <span class="fe fe-calendar fe-16"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group col-md-4">
                                        <label for="time-input2">開始時間</label>
                                        <div class="input-group">
                                            <input type="datetime" class="form-control " id="StartTime" placeholder="YYYY/MM/DD hh:mm" aria-describedby="button-addon2" name="EventStartDate" required>
                                        </div>
                                    </div>*@
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="date-input1">結束日期</label>
                                    <div class="input-group">
                                        @*<input type="text" class="form-control drgpicker" id="date-input1" value="1/1/2021" aria-describedby="button-addon2" name="EventEndDate" required>*@
                                        <input type="datetime" class="form-control" id="EndDate" placeholder="YYYY/MM/DD hh:mm" value="2021/1/1 12:00" aria-describedby="button-addon2" name="EventEndDate" required>
                                        <div class="input-group-append">
                                            <div class="input-group-text" id="button-addon-date">
                                                <span class="fe fe-calendar fe-16"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group col-md-4">
                                        <label for="time-input2">結束時間</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control time-input" id="time-input2" placeholder="" aria-describedby="button-addon2" name="EventEndDate" required>
                                        </div>
                                    </div>*@
                            </div>
                        </div> <!-- /.card-body -->
                    </div> <!-- /.card -->
                </div>
                <div style="padding-bottom:20px"></div>   @*間格用*@

                <div style="width:2100px;">
                    @*Bootstrap尺寸  同行物件先界定尺寸*@



                    @*=======================文字編輯器================================================*@
                    <div class="col-6 " style="float:  left ;">
                        @*底下使用col-6  (總距為12,兩個div分別設定6,代表對半)*@
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 class="card-title">活動內容編輯器</h3>

                                <!-- Create the editor container -->
                                <div id="editor" class="eventDescription" style="min-height:200px;" name="EventDescription">
                                </div>         @*Raw代表使用HTML語法轉譯,因為透過文字編輯器存進資料庫的資料,有包含html標籤*@
                                <input type="hidden" class="eventDescription" name="EventDescription">
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-6" style="float:  left;  ">
                    @*col-6 對半*@
                    <div class="form-group  card shadow mb-4">
                        <div class="card-body" style="height:347px">
                            <h3 class="page-title">活動圖片上傳</h3>
                            <div class=" photobox" style="border:1px solid lightgray;padding:20px;  height:270px">
                                <div class="imgCreate">
                                </div>
                                <div class="input-group ">
                                    <div class="custom-file">
                                        <input type="file" multiple class="custom-file-input createimg" id="createimg" name="photo">
                                        <label class="custom-file-label" for="createimg" aria-describedby="inputGroupFileAddon02">選擇圖片</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*舊的無法使用
                                            <div class="card shadow mb-4">
                            <div class="card-body">
                                <h3 class="page-title">活動圖片上傳</h3>
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <br />
                                        <div id="drag-drop-area"></div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>
    </div>
    @*條件3  要使用input  且type必須為"submit" *@
    <input type="submit" class="btn btn-primary btn-lg btn-lg " id="btnSave" style="float:left; margin-right:40px; margin-top:20px">
</form>

<span>
    <button class="btn btn-success btn-lg" style="float: left; margin-top: 20px; color: white" id="DemoBtn">Demo</button>
</span>

@*彈跳視窗
    <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" value="送出新增">*@

<!--<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->
<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->


@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>

        //修改儲存
        $(document).on("click", ".btnSave", async function (e) {
            e.preventDefault();

            //讀取文字編輯器
            var discription = $(".ql-editor").html();
            $(".eventDescription").val(discription);

            const formData = new FormData(document.CreatEventForm)     @* CreatEventForm 為Form的Name*@
            const response = await fetch('@Url.Content("~/BackstageEvent/EventCreate")', {
                method: "POST",
                body: formData
            })

            const data = await response.text()
            console.log(data)
            if (data == 1) {            //寫入後需要重新載入的原因,在於修改是使用浮動視窗,並不會把更新資料修改上去
                $('.card-body').load("@Url.Content("~/BackstageEvent/EventListPartial")", function () {
                    alert("建立成功")
                    $('#dataTable-1').DataTable(     //此段待確認作用
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
        })
        //上傳圖片時預覽圖案
        var imginput = document.querySelector(".createimg")
        console.log("123")
        $(document).on("change", ".createimg", function (e) {
            readURL(this);
        })
        function readURL(input) {
            document.querySelector(".imgCreate").innerHTML = ""
            console.log(input.files.length)
            for (i = 0; i < input.files.length; i++) {
                if (input.files && input.files[i]) {
                    var reader = new FileReader();
                    console.log(reader)
                    reader.onload = function (e) {
                        var img = document.createElement("img")
                        img.src = e.target.result;
                        img.setAttribute("style", "width:150px;height:100px;object-fit:cover;margin-right:10px;margin-bottom:10px;")
                        document.querySelector(".imgCreate").appendChild(img)
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }


        $("#DemoBtn").click(function () {
            console.log("AA");
            $("#EventName").val("蔥寶寶 三星蔥手作體驗");
            $("#SupplierId").val("1");
            $("#EventParticipantCap").val("60");
            $("#EventPrice").val("300");
            $("#EventLocation").val("宜蘭縣三星鄉大德路三段79號");
            $("#StartDate").val("2022/2/15 09:00");
            $("#EndDate").val("2022/2/15 16:30");
            $("#EventDescription").val("現在預訂星寶蔥體驗農場 | 親子手作蔥油餅DIY，讓遊客親自體驗做「蔥仔餅」及農村生活的樂趣，透過自己的雙手拔蔥、洗蔥，到揉麵、加蔥並捲製成型後，現場由服務人員為您煎至金黃熟透，讓您品嚐手作新鮮生產的「蔥仔餅」，更達到寓教於樂的推廣效果。");
        });


    </script>
}













@* 上傳圖片範本程式碼(先保留) *@
@*<!--<!--<!--<!--$('.select2').select2(
            {
                theme: 'bootstrap4',
            });
        $('.select2-multi').select2(
            {
                multiple: true,
                theme: 'bootstrap4',
            });
        $('.drgpicker').daterangepicker(
            {
                singleDatePicker: true,
                timePicker: false,
                showDropdowns: true,
                locale:
                {
                    format: 'MM/DD/YYYY'
                }
            });
        $('.time-input').timepicker(
            {
                'scrollDefault': 'now',
                'zindex': '9999' /* fix modal open */
            });
        /** date range picker */
        if ($('.datetimes').length) {
            $('.datetimes').daterangepicker(
                {
                    timePicker: true,
                    startDate: moment().startOf('hour'),
                    endDate: moment().startOf('hour').add(32, 'hour'),
                    locale:
                    {
                        format: 'M/DD hh:mm A'
                    }
                });
        }
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        $('#reportrange').daterangepicker(
            {
                startDate: start,
                endDate: end,
                ranges:
                {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
        cb(start, end);
        $('.input-placeholder').mask("00/00/0000",
            {
                placeholder: "__/__/____"
            });
        $('.input-zip').mask('00000-000',
            {
                placeholder: "____-___"
            });
        $('.input-money').mask("#.##0,00",
            {
                reverse: true
            });
        $('.input-phoneus').mask('(000) 000-0000');
        $('.input-mixed').mask('AAA 000-S0S');
        $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
            {
                translation:
                {
                    'Z':
                    {
                        pattern: /[0-9]/,
                        optional: true
                    }
                },
                placeholder: "___.___.___.___"
            });
        // editor
        var editor = document.getElementById('editor');
        if (editor) {
            var toolbarOptions = [
                [
                    {
                        'font': []
                    }],
                [
                    {
                        'header': [1, 2, 3, 4, 5, 6, false]
                    }],
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [
                    {
                        'header': 1
                    },
                    {
                        'header': 2
                    }],
                [
                    {
                        'list': 'ordered'
                    },
                    {
                        'list': 'bullet'
                    }],
                [
                    {
                        'script': 'sub'
                    },
                    {
                        'script': 'super'
                    }],
                [
                    {
                        'indent': '-1'
                    },
                    {
                        'indent': '+1'
                    }], // outdent/indent
                [
                    {
                        'direction': 'rtl'
                    }], // text direction
                [
                    {
                        'color': []
                    },
                    {
                        'background': []
                    }], // dropdown with defaults from theme
                [
                    {
                        'align': []
                    }],
                ['clean'] // remove formatting button
            ];
            var quill = new Quill(editor,
                {
                    modules:
                    {
                        toolbar: toolbarOptions
                    },
                    theme: 'snow'
                });
        }
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <script>
        var uptarg = document.getElementById('drag-drop-area');
        if (uptarg) {
            var uppy = Uppy.Core().use(Uppy.Dashboard,
                {
                    inline: true,
                    target: uptarg,
                    proudlyDisplayPoweredByUppy: false,
                    theme: 'dark',
                    width: 770,
                    height: 210,
                    plugins: ['Webcam']
                }).use(Uppy.Tus,
                    {
                        endpoint: 'https://master.tus.io/files/'
                    });
            uppy.on('complete', (result) => {
                console.log('Upload complete! We’ve uploaded these files:', result.successful)
            });
        }*@


@*<script src="js/apps.js"></script>-->-->-->-->*@
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
</script>-->
