<div class="col-md-12 col-lg-4">
    <div class="card shadow eq-card mb-4">
        <div class="card-body">
            <div class="chart-widget mb-2">
                <div id="radialbar"></div>
            </div>
            <div class="row items-align-center">
                <div class="col-4 text-center">
                    <p class="text-muted mb-1">Cost</p>
                    <h6 class="mb-1">$1,823</h6>
                    <p class="text-muted mb-0">+12%</p>
                </div>
                <div class="col-4 text-center">
                    <p class="text-muted mb-1">Revenue</p>
                    <h6 class="mb-1">$6,830</h6>
                    <p class="text-muted mb-0">+8%</p>
                </div>
                <div class="col-4 text-center">
                    <p class="text-muted mb-1">Earning</p>
                    <h6 class="mb-1">$4,830</h6>
                    <p class="text-muted mb-0">+8%</p>
                </div>
            </div>
        </div> <!-- .card-body -->
    </div> <!-- .card -->
</div> <!-- .col -->