
@{
    ViewData["Title"] = "Member";
}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="row align-items-center my-4">
            <div class="col">
                <h2 class="h3 mb-0 page-title">會員管理</h2>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary"><span class="fe fe-trash fe-12 mr-2"></span>刪除</button>
                <button type="button" class="btn btn-primary"><span class="fe fe-filter fe-12 mr-2"></span>新增</button>
            </div>
        </div>
        <!-- table -->
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="all2">
                                    <label class="custom-control-label" for="all2"></label>
                                </div>
                            </th>
                            <th><strong>ID</strong></th>
                            <th><strong>頭像</strong></th>
                            <th><strong>會員</strong></th>
                            <th><strong>地址</strong></th>
                            <th><strong>城市</strong></th>
                            <th><strong>電話</strong></th>
                            <th><strong>生日</strong></th>
                            <th><strong>動作</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="1">
                                    <label class="custom-control-label" for="1"></label>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>1</strong></p>
                            </td>
                            <td>
                                <div class="avatar avatar-sm">
                                    <img src="~/backstage/assets/avatars/face-3.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>江凱詳</strong></p>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>新北市板橋區南雅南路2段</strong></p>
                            </td>
                            <td>
                                <small class="mb-0 text-muted"><strong>新北市</strong></small>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><a href="#" class="text-muted"><strong>0917981198</strong></a></p>
                            </td>
                            <td class="text-muted"><strong>1999/06/02</strong></td>
                            <td>
                                <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="text-muted sr-only">Action</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">修改</a>
                                    <a class="dropdown-item" href="#">移除</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="2">
                                    <label class="custom-control-label" for="2"></label>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>2</strong></p>
                            </td>
                            <td>
                                <div class="avatar avatar-sm">
                                    <img src="~/backstage/assets/avatars/face-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>張宇盛</strong></p>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>新北市板橋區裕民路</strong></p>
                            </td>
                            <td>
                                <small class="mb-0 text-muted"><strong>新北市</strong></small>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><a href="#" class="text-muted"><strong>0917981198</strong></a></p>
                            </td>
                            <td class="text-muted"><strong>1999/06/02</strong></td>
                            <td>
                                <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="text-muted sr-only">Action</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">修改</a>
                                    <a class="dropdown-item" href="#">移除</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="3">
                                    <label class="custom-control-label" for="3"></label>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>3</strong></p>
                            </td>
                            <td>
                                <div class="avatar avatar-sm">
                                    <img src="~/backstage/assets/avatars/face-4.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>李振主</strong></p>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>新北市板橋區南雅南路2段</strong></p>
                            </td>
                            <td>
                                <small class="mb-0 text-muted"><strong>新北市</strong></small>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><a href="#" class="text-muted"><strong>0917981198</strong></a></p>
                            </td>
                            <td class="text-muted"><strong>1999/06/02</strong></td>
                            <td>
                                <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="text-muted sr-only">Action</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">修改</a>
                                    <a class="dropdown-item" href="#">移除</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="4">
                                    <label class="custom-control-label" for="4"></label>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>4</strong></p>
                            </td>
                            <td>
                                <div class="avatar avatar-sm">
                                    <img src="~/backstage/assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>林庭毅</strong></p>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><strong>新北市板橋區信義路</strong></p>
                            </td>
                            <td>
                                <small class="mb-0 text-muted"><strong>新北市</strong></small>
                            </td>
                            <td>
                                <p class="mb-0 text-muted"><a href="#" class="text-muted"><strong>0917981198</strong></a></p>
                            </td>
                            <td class="text-muted"><strong>1999/06/02</strong></td>
                            <td>
                                <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="text-muted sr-only">Action</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">修改</a>
                                    <a class="dropdown-item" href="#">移除</a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="Table Paging" class="my-3">
            <ul class="pagination justify-content-end mb-0">
                <li class="page-item"><a class="page-link" href="#">上一頁</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
            </ul>
        </nav>
    </div> <!-- .col-12 -->
</div> <!-- .row -->
