
@{
    ViewData["Title"] = "PowerBIReport_1";
}

@*業績銷售報表*@

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        .use-flexbox {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .use-flexbox div {
            }
    </style>
}

<div class="use-flexbox">
    <iframe title="鮮蔬果季PowerBI_220118(連接雲端資料庫版) R2"width="1800" height="1110" src="https://app.powerbi.com/view?r=eyJrIjoiNDQxYmMwOTYtZDY5Mi00OGEwLTliYTItZDE3MDdhM2EyZTcyIiwidCI6ImM5NGVkYTY2LTQ0OGQtNGI3MC04MGNhLWMzZjc3ZjQ3NTUwNiIsImMiOjEwfQ%3D%3D&pageName=ReportSectionc907524382a586b13489" frameborder="0" allowFullScreen="true"></iframe>
    @*<iframe title="鮮蔬果季PowerBI_220103(連接新資料庫) R2" width="1800" height="1110"  src="https://app.powerbi.com/view?r=eyJrIjoiMjdkNjY1ZmEtNzM0NS00YzBhLWE4MWQtZWQwNzI0NzhhMmM0IiwidCI6ImM5NGVkYTY2LTQ0OGQtNGI3MC04MGNhLWMzZjc3ZjQ3NTUwNiIsImMiOjEwfQ%3D%3D&pageName=ReportSectionc907524382a586b13489" frameborder="0" allowFullScreen="true"></iframe>*@
</div>