
@{
    ViewData["Title"] = "PowerBIReport_1";
}

@*業績銷售報表*@

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        .use-flexbox {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .use-flexbox div {
            }
    </style>
}

<div class="use-flexbox">
    <iframe title="鮮蔬果季PowerBI_211203(修改資料庫IP版)" width="1800" height="1110" src="https://app.powerbi.com/view?r=eyJrIjoiMmU5NThhZDEtMzczYS00YWFmLWE3ZDEtODIxYmE3OWNmNWZkIiwidCI6ImM5NGVkYTY2LTQ0OGQtNGI3MC04MGNhLWMzZjc3ZjQ3NTUwNiIsImMiOjEwfQ%3D%3D&pageName=ReportSectionc907524382a586b13489" frameborder="0" allowFullScreen="true"></iframe>
</div>