
@{
    ViewData["Title"] = "MemberCenter";
}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 >會員中心</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <h2 class="h3 mb-4 page-title" style="margin-top:50px;">會員資料</h2>
                <div class="my-4">
                    <form>
                        <div class="row mt-5 align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div id="photo" style="margin-left:-120px; margin-top: 0px; padding-bottom: 0px; height: 100px ">
                                    <p style="position:relative;">
                                        <img src="~/images/MemberPhoto/1634013481474.jpg" width="120" height="120" style="left:160px; position:absolute; object-fit:cover; border-radius: 50%;" />
                                        <a class="fas fa-camera btn hvr-hover" style="border-radius:50%; left:250px; top:60px; position:absolute; color:white; margin-top:20px; padding:10px;"></a>
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">姓名</label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="您的大名"value="許銘豪" required data-error="請填寫您的欄位">                          
                            </div>
                            <div class="form-group col-md-4">
                                <label for="gender">性別</label>
                                <select id="gender" class="form-control" required data-error="請填寫您的欄位">
                                    <option selected="selected">男性</option>
                                    <option>女性</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">電子郵件帳號</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="您的電子郵件" value="abc12345@gmail.com" required data-error="請填寫您的欄位">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress5">現居地址</label>
                            <input type="text" class="form-control" id="inputAddress5" placeholder="您的現居地址" value="台北市大安區信義路三段153號3樓" required data-error="請填寫您的欄位">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">聯絡電話</label>
                                <input type="text" class="form-control" placeholder="您的電話" required data-error="請填寫您的欄位">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="State">現居縣市</label>
                                <select id="State" class="form-control" required data-error="請填寫您的欄位">
                                    <option selected="">台北市</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputPassword4">舊的密碼</label>
                                    <input type="password" class="form-control" id="oldPassword" >
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">新的密碼</label>
                                    <input type="password" class="form-control" id="newPassword">
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">確認新的密碼</label>
                                    <input type="password" class="form-control" id="confirmPassword">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">修改密碼注意事項</p>
                                <p class="small text-muted mb-2">為了建立新的密碼，您需遵守以下條件：</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li> 最少６個字元。</li>
                                    <li>英數混合。</li>
                                    <li>禁止使用英數以外的字體。</li>
                                    <li>不能與舊的密碼相同。 </li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn hvr-hover" id="submit" type="submit" style="color:white">確認修改</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                    </form>
                </div> <!-- /.card-body -->
            </div> <!-- /.col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main> <!-- main -->

