@model 鮮蔬果季_前台.ViewModels.MemberViewModel

<div class="row mb-4">
    <div class="col-md-6" style="padding-left:0px;padding-right:0px">
        <div class="form-group">
            <label for="inputPassword4">舊的密碼</label>
            <input type="password" class="form-control" id="oldPassword">
            <div class="help-block with-errors">
                @*錯誤訊息的ul要先自己建出來 並且li需要給個id(emailerr)*@
                <ul class="list-unstyled">
                    <li id="oldPassworderr"></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">新的密碼</label>
            <input asp-for="Password" type="password" class="form-control" id="newPassword">
            <div class="help-block with-errors">
                @*錯誤訊息的ul要先自己建出來 並且li需要給個id(emailerr)*@
                <ul class="list-unstyled">
                    <li id="newPassworderr"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="confirmPassword">確認新的密碼</label>
                <input type="password" class="form-control" id="confirmPassword">
                <div class="help-block with-errors">
                    @*錯誤訊息的ul要先自己建出來 並且li需要給個id(emailerr)*@
                    <ul class="list-unstyled">
                        <li id="confirmPassworderr"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p class="mb-2">修改密碼注意事項</p>
            <p class="small text-muted mb-2">為了建立新的密碼，您需遵守以下條件：</p>
            <ul class="small text-muted pl-4 mb-0">
                <li> 最少６個字元。</li>
                <li>英數混合。</li>
                <li>禁止使用英數以外的字體。</li>
                <li>不能與舊的密碼相同。 </li>
            </ul>
        </div>
        <div class="submit-button" style="">
            <button class="btn hvr-hover" id="submit" type="submit" style="color:white">確認修改</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
