@model 鮮蔬果季_前台.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "PasswordChange";
}
@section Scripts{
    <style>
        nav > .nav.nav-tabs {
            border: none;
            color: #fff;
            background: #272e38;
            border-radius: 0;
        }

        nav > div a.nav-item.nav-link,
        nav > div a.nav-item.nav-link.active {
            border: none;
            padding: 18px 25px;
            color: #fff;
            background: #5e5e3d;
            border-radius: 0;
        }

            nav > div a.nav-item.nav-link.active:after {
                content: "";
                position: relative;
                bottom: -60px;
                left: -10%;
                border: 15px solid transparent;
                border-top-color: #e74c3c;
            }

        .tab-content {
            background: #fdfdfd;
            line-height: 25px;
            border: 1px solid #ddd;
            border-top: 5px solid #e74c3c;
            border-bottom: 5px solid #e74c3c;
            padding: 30px 25px;
        }

        nav > div a.nav-item.nav-link:hover,
        nav > div a.nav-item.nav-link:focus {
            border: none;
            background: #e74c3c;
            color: #fff;
            border-radius: 0;
            transition: background 0.20s linear;
        }

        .nav-status a {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }
    </style>
    <script>

        $("#oldPassword").blur(function () {
            var xhr = new XMLHttpRequest();
            var oldP = $("#oldPassword").val();
            xhr.open("get", "@Url.Action("CheckPassword","Member")?oldPassword=" + oldP)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $(".OldPassworderr").text(data)
            })
        })

        $("#newPassword").blur(function () {
            var xhr = new XMLHttpRequest();
            var newP = $("#newPassword").val();
            xhr.open("get", "@Url.Action("CheckNewPassword","Member")?newPassword=" + newP)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $(".NewPassworderro").text(data)

            })
        })
        $("#confirmPassword").blur(function () {
            var newp = $("#newPassword").val();
            var conp = $("#confirmPassword").val();
            if (conp != newp) {
                $(".confirmPassworderr").text("密碼不相同，請確認。");
            }
            else if (conp == newp) {
                $(".confirmPassworderr").text("");
            }
        })
        $("#contactForm").submit(function () {
            if ($(".confirmPaassworderr").html() == "密碼不相同，請確認。" || $(".NewPassworderro").html() == "新密碼格式錯誤" || $(".NewPassworderro").html() == "與舊密碼相同" || $(".OldPassworderr").html() == "密碼不相符" ) {
                var msgClasses = "h3 text-center text-danger";
                $("#msgSubmit").addClass(msgClasses).text("尚未填寫完資料，請確認。");
                return false;
            }
            else if ($(".confirmPaassworderr").html() == "" || $(".NewPassworderro").html() == "" || $(".NewPassworderro").html() == "" || $(".OldPassworderr").html() == "") {
                alert("密碼已更換，請重新登入。")
            }
        })
    </script>
}
<div class="clickmsgbox"></div>
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>會員中心</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">密碼變更</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wishlist-box-main" style="margin-top:-25px; margin-left:-5px;">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="my-4" id="MYV">
                        <form id="contactForm" method="post" style="">
                            <div style="padding-bottom:20px">
                                <div class="row">
                                    <div class="col-xs-12" style=" width:60%">
                                        <nav class="nav-status" style="">
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                <a asp-area="" asp-controller="Member" asp-action="MemberCenter" class="nav-item nav-link" style="border-right: #b0b435 solid; width: 25%; cursor: pointer;" id="Memberinfo-tab">會員資料</a>
                                                <a class="nav-item nav-link active" style="width:25%" id="Password-tab" data-toggle="tab">密碼更換</a>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <h2 class="h3 mb-4 page-title" style="margin-top:50px; ">密碼更換</h2>
                            <input type="hidden" asp-for="MemberId" name="MemberId" id="MemberId" />
                            <div class="row mb-4">
                                <div class="col-md-5" style="padding-left:-15px;padding-right:0px">
                                    <div class="form-group">
                                        <label for="oldPassword">舊的密碼</label>
                                        <input type="password" class="form-control" id="oldPassword" required data-error="欄位不可空白">
                                        <div class="help-block with-errors">
                                            <ul class="list-unstyled"> <li class="OldPassworderr"></li></ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword">新的密碼</label>
                                        <input asp-for="Password" type="password" name="Password" class="form-control" id="newPassword" required data-error="欄位不可空白">
                                        <div class="help-block with-errors">
                                            <ul class="list-unstyled"><li class="NewPassworderro"></li></ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">確認新的密碼</label>
                                        <input type="password" class="form-control" id="confirmPassword" required data-error="欄位不可空白">
                                        <div class="help-block with-errors">
                                            <ul class="list-unstyled"><li class="confirmPassworderr"></li></ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-left:-15px;">
                                        <p class="mb-2">修改密碼注意事項</p>
                                        <p class="small text-muted mb-2">為了建立新的密碼，您需遵守以下條件：</p>
                                        <ul class="small text-muted pl-4 mb-0">
                                            <li> 最少６個字元。</li>
                                            <li>英數混合。</li>
                                            <li>禁止使用英數以外的字體。</li>
                                            <li>不能與舊的密碼相同。 </li>
                                        </ul>
                                    </div>
                                    <div class="submit-button" style="">
                                        <button class="btn hvr-hover" id="submit" type="submit" style="color:white">確認修改</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>