
@{
    ViewData["Title"] = "PartnerBlog";
}

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    @*<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">*@
    <!-- favicon -->
    @*<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">*@
    <!-- google font -->
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">*@
    <!-- fontawesome -->
    <!--<link rel="stylesheet" href="assets/css/all.min.css">-->
    <!-- bootstrap -->
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">-->
    <!-- owl carousel -->
    <!--<link rel="stylesheet" href="assets/css/owl.carousel.css">-->
    <!-- magnific popup -->
    <!--<link rel="stylesheet" href="assets/css/magnific-popup.css">-->
    <!-- animate css -->
    <!--<link rel="stylesheet" href="assets/css/animate.css">-->
    <!-- mean menu css -->
    <!--<link rel="stylesheet" href="assets/css/meanmenu.min.css">-->
    <!-- main style -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- responsive -->
    @*<link rel="stylesheet" href="~/assets/css/responsive.css">*@
    <style>
        /*===========更改置頂圖片樣式(獨立)=============================*/
        .all-title-box_Partner {
            background: url("../images/a.jpg") no-repeat center center;
/*          -webkit-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;
            -o-background-size: cover;*/
            background-size: cover;
            text-align: center;
/*            background-attachment: fixed;*/
            padding: 70px 0px;
            position: relative;
        }

            .all-title-box_Partner::before {
                background: rgba(0,0,0,0.4);
                content: "";
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
            }
            .all-title-box_Partner h2 {
                font-size: 28px;
                font-weight: 700;
                color: #ffffff;
                float: left;
                padding: 10px 0px;
            }

            .all-title-box_Partner .breadcrumb {
                background: #b0b435;
                margin: 0px;
                display: inline-block;
                border-radius: 0px;
                float: right;
            }

                .all-title-box_Partner .breadcrumb li {
                    display: inline-block;
                    color: #000000;
                    font-size: 16px;
                }

                    .all-title-box_Partner .breadcrumb li a {
                        color: #ffffff;
                        font-size: 16px;
                    }

            .all-title-box_Partner .breadcrumb-item + .breadcrumb-item::before {
                color: #000000;
            }

    </style>


</head>
<body>
    <!-- Start All Title Box===================================================== -->
    <div class="all-title-box_Partner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>合作農友</h2>
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">ABOUT US</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom:50px"></div>   @*間格用*@

    <!-- latest news -->
    <div class="latest-news mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">台中大甲檳榔心芋頭</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> 村長 </span>
                                <span class="date"><i class="fas fa-calendar"></i> 2021-12-03 </span>
                            </p>
                            <p class="excerpt">紀大哥從小就跟隨父親務農，主要種植芋頭、大豆、水稻等作物；出社會後傳承家業，全心投入芋頭規模化生產，但當時芋頭市場價格非常不穩，且各田間管理不同影響品質，經常被壓低收購價格，甚至萌生退意轉種其他作物；直到大甲蔬菜產銷班成立....</p>
                            <a class="read-more-btn" asp-area="" asp-controller="Partner" asp-action="PartnerBlog_1">read more <i class="fas fa-angle-right"></i></a>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">橙界貴族台東肚臍柑</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> 村長</span>
                                <span class="date"><i class="fas fa-calendar"></i> 2021-11-15</span>
                            </p>
                            <p class="excerpt">王大哥家族種植柑橘已有將近一甲子的經驗，大約二十年前在東河鄉的山坡地開始嘗試栽培「臍橙」，也就是俗稱的「肚臍柑」，把果實翻過來底部可以看到類似人類肚臍的疤痕，這可愛的肚臍眼為突變造成，果皮內未發育的副果裂開時呈現臍狀，故稱作「肚臍柑...</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">宜蘭阿瑞的番茄農場</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> 村長</span>
                                <span class="date"><i class="fas fa-calendar"></i> 2021-11-28</span>
                            </p>
                            <p class="excerpt">五結鄉坐落於宜蘭東側，除了擁有遼闊的海岸之外，北鄰蘭陽溪、中貫冬山河，微鹼的灌溉水、黏質的壤土與平坦地形的優勢，讓五結成為知名越光米的種植區、宜蘭鴨賞發源地，也因此有許多人口從事農畜業。求學時期讀電機的阿瑞，約十年前服完兵役...</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-4"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">高雄大樹阿瑋芭樂園</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> 村長</span>
                                <span class="date"><i class="fas fa-calendar"></i> 2021-10-15</span>
                            </p>
                            <p class="excerpt">八年級的阿瑋是土生土長的大樹囝仔，由於家裡世代務農，從就小跟著父母到荔枝園工作，在耳濡目染下對農業產生極大興趣，原本退伍後打算留在家鄉務農，卻在父母的勸說下，暫且出外工作。即便在外打拼一帆風順，但是看見父母年紀漸長，讓阿瑋總是掛心著...</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-5"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">小熙的無農藥玉米筍</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> 村長</span>
                                <span class="date"><i class="fas fa-calendar"></i> 2021-10-01</span>
                            </p>
                            <p class="excerpt">位於台中市郊的大肚區，透著樸質的鄉村人情，在這片土地長大的小熙，過去曾經是朝九晚五的上班族，前年在一次巧合機緣中，接觸了友善耕作的蔡大哥，從他身上進一步了解台灣的食安問題，便毅然決然地辭去工作，與兩位夥伴小雯和珊珊成立團隊...</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-6"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">屏東新埤葉大哥的芒果鳳梨</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> 村長</span>
                                <span class="date"><i class="fas fa-calendar"></i> 2021-09-13</span>
                            </p>
                            <p class="excerpt">個性爽朗健談的葉大哥是在地屏東人，過去他曾是朝九晚五的上班族，因為本身愛吃水果，加上身邊有許多從事農業的好友，因而得知許多農業相關的新資訊。前年在一次偶然的機會嚐到芒果鳳梨，那特殊的風味在他的腦海留下深刻的印象，便計畫退休後向台糖承租土地...</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pagination-wrap">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-bottom:50px"></div>   @*間格用*@
    <!-- end latest news -->
    <!-- logo carousel -->
    <!--<div class="logo-carousel-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-inner">
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/1.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/2.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/3.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/4.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- end logo carousel -->

</body>
</html>

