
@{
    ViewData["Title"] = "PartnerBlog";
}

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    @*<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">*@
    <!-- favicon -->
    @*<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">*@
    <!-- google font -->
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">*@
    <!-- fontawesome -->
    <!--<link rel="stylesheet" href="assets/css/all.min.css">-->
    <!-- bootstrap -->
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">-->
    <!-- owl carousel -->
    <!--<link rel="stylesheet" href="assets/css/owl.carousel.css">-->
    <!-- magnific popup -->
    <!--<link rel="stylesheet" href="assets/css/magnific-popup.css">-->
    <!-- animate css -->
    <!--<link rel="stylesheet" href="assets/css/animate.css">-->
    <!-- mean menu css -->
    <!--<link rel="stylesheet" href="assets/css/meanmenu.min.css">-->
    <!-- main style -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- responsive -->
    @*<link rel="stylesheet" href="~/assets/css/responsive.css">*@
    <style>
        /*===========更改置頂圖片樣式(獨立)=============================*/
        .all-title-box_Partner {
            background: url("../images/a.jpg") no-repeat center center;
/*          -webkit-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;
            -o-background-size: cover;*/
            background-size: cover;
            text-align: center;
/*            background-attachment: fixed;*/
            padding: 70px 0px;
            position: relative;
        }

            .all-title-box_Partner::before {
                background: rgba(0,0,0,0.4);
                content: "";
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
            }
            .all-title-box_Partner h2 {
                font-size: 28px;
                font-weight: 700;
                color: #ffffff;
                float: left;
                padding: 10px 0px;
            }

            .all-title-box_Partner .breadcrumb {
                background: #b0b435;
                margin: 0px;
                display: inline-block;
                border-radius: 0px;
                float: right;
            }

                .all-title-box_Partner .breadcrumb li {
                    display: inline-block;
                    color: #000000;
                    font-size: 16px;
                }

                    .all-title-box_Partner .breadcrumb li a {
                        color: #ffffff;
                        font-size: 16px;
                    }

            .all-title-box_Partner .breadcrumb-item + .breadcrumb-item::before {
                color: #000000;
            }

    </style>


</head>
<body>
    <!-- Start All Title Box===================================================== -->
    <div class="all-title-box_Partner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom:50px"></div>   @*間格用*@

    <!-- latest news -->
    <div class="latest-news mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">台中大甲檳榔心芋頭</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> 村長 </span>
                                <span class="date"><i class="fas fa-calendar"></i> 2021-12-03 </span>
                            </p>
                            <p class="excerpt">紀大哥從小就跟隨父親務農，主要種植芋頭、大豆、水稻等作物；出社會後傳承家業，全心投入芋頭規模化生產，但當時芋頭市場價格非常不穩，且各田間管理不同影響品質，經常被壓低收購價格，甚至萌生退意轉種其他作物；直到大甲蔬菜產銷班成立，紀大哥才在友人勸說下再次投身芋頭產業....</p>
                            <a class="read-more-btn" asp-area="" asp-controller="Partner" asp-action="PartnerBlog_1">read more <i class="fas fa-angle-right"></i></a>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> Admin</span>
                                <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                            </p>
                            <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> Admin</span>
                                <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                            </p>
                            <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-4"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">Fall in love with the fresh orange</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> Admin</span>
                                <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                            </p>
                            <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-5"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">Why the berries always look delecious</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> Admin</span>
                                <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                            </p>
                            <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="single-news.html"><div class="latest-news-bg news-bg-6"></div></a>
                        <div class="news-text-box">
                            <h3><a href="single-news.html">Love for fruits are genuine of John Doe</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> Admin</span>
                                <span class="date"><i class="fas fa-calendar"></i> 27 December, 2018</span>
                            </p>
                            <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pagination-wrap">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end latest news -->

    <!-- logo carousel -->
    <!--<div class="logo-carousel-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-inner">
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/1.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/2.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/3.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/4.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="assets/img/company-logos/5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- end logo carousel -->

</body>
</html>

