@model List<鮮蔬果季_前台.ViewModels.OrderListViewModel>
@{
    foreach (var item in Model)
    {
        <tr>
            <td class="orderid-p">
                <p>@Html.DisplayFor(modelItem => item.OrderId)</p>
            </td>
            <td class="orderdate-p">
                <p>@Html.DisplayFor(modelItem => item.OrderDate)</p>
            </td>
            <td class="price-pr">
                <p>NT$ @item.總價</p>
            </td>
            <td class="add-pr">
                <a asp-area="" asp-controller="Order" asp-action="OrderDetail" asp-route-id="@item.order.OrderId" class="btn hvr-hover">檢視</a>
            </td>
        </tr>
    }
}
