
@{
    ViewData["Title"] = "AboutUS_article";
}

    @section Styles{
        <style>
            .carousel-inner {
                object-fit: cover;
            }

            .single-article-text h2 {
                font-size: 33px;
            }

            .single-article-text p {
                font-size: 22px;
                text-align: justify
            }

            .carousel-inner img {
                object-fit: cover;
                width: 400px;
                height: 500px;
            }
        </style>
    }

    <!-- Start All Title Box===================================================== -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>關於我們</h2>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-bottom:20px"></div>   @*間格用*@
    @* =====================================輪播大圖=====================================================*@
    <div class="col-xl-5 col-lg-5 col-md-5" style="display:block; margin:auto;">
        <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"> <img class="d-block w-100" src="~/images/tea-farm.jpg" alt="First slide"> </div>
                <div class="carousel-item"> <img class="d-block w-100" src="~/images/3-farmers.jpg" alt="Second slide"> </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
            <ol class="carousel-indicators" style="background: #ffffff">
                @* 控制小圖的控制*@
                <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                    <img class="d-block w-100 img-fluid" src="~/images/tea-farm.jpg" alt="" />
                </li>
                <li data-target="#carousel-example-1" data-slide-to="1">
                    <img class="d-block w-100 img-fluid" src="~/images/3-farmers.jpg" alt="" />
                </li>
            </ol>
        </div>
    </div>

    <div style="padding-bottom:50px"></div>   @*間格用*@
    <!-- single article section -->
    <div class="mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-article-section">
                        <div class="single-article-text">

                            <h2 style="padding-bottom:20px">我們是第三組鮮蔬果季賣青菜水果給你吃</h2>
                            <p>
                                鮮蔬果季是由三個出身農村的年輕人一手創立的專營農產品店商平台。臺灣大學園藝暨景觀學系碩士班畢業的劉育昌，眼睛閃閃發亮地講起他的「青農夢」，他對於有機農業的憧憬，來自大學的課堂。當時，教授甩著畢業學長種植的有機葡萄，直接摘一顆放進嘴裡，說：「這才是真正的農產品。」劉育昌聽完教授的話，當下熱血沸騰，想要種出同樣令人安心的農產品。
                            </p>
                            <br />
                            <p>「沒有家裡撐腰，真的要看運氣、機率。」他談到幾年前草創時的艱辛歷程，無奈地說道：「收支打平就是真的很好，感謝天、感謝地了。」努力加上運氣，現在的劉育昌逐漸打出個人品牌，收入也慢慢穩定。但是，並非所有青農都跟劉育昌一樣幸運。同樣是農業相關科系畢業的阿華（匿名），緊握微薄的新台幣3萬元，憑著一股年輕人的衝勁，傾盡所有熱情於農業，作物卻被颱風與豪大雨無情地摧殘，使得他連續九個月都零收入，「幫人打工賺吃飯錢，大概每天只有100元。」三餐都無法溫飽，他只能收拾包袱，黯淡退場。</p>
                            <br />
                            <p>夢醒了，迎向青農而來的困境是資金不足、租不到合適的農地、連續不斷的天災、病蟲害、還不出的鉅額貸款等，青農們背負著種種現實的壓力，將自己的人生當作籌碼，奮不顧身躍進深不可測的大賭局。</p>
                            <br />
                            <p>
                                若能重新整合教學模式，從消費者、需求端為導向，可使經營意識更清楚。他舉例，如果學校開設外銷班、團膳班，專門培育某通路的人才，學生畢業後即可掌握通路的門檻，「這批人才就能直接提供給供應商，農民和廠商不是就皆大歡喜嗎？」
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom:70px"></div>   @*間格用*@



