@{
    ViewData["Title"] = "AboutUs";
}

@{
    ViewData["Title"] = "Home Page";
}




<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ABOUT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">ABOUT US</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="~/images/about-img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">
                    我們是
                    <span>鮮蔬果季</span>
                </h2>
                <p>
                    鮮蔬果季成立於2014年底，在日漸脫節的城鄉距離下，消費者離產地越來越遠，生產者的面貌與生產過程也逐漸模糊。我們希望重新拉近產地與餐桌的距離，讓大家看見產地、看見生產者、找回食物最初的風味。
                </p>


                <p>╱ 「感受產地真食溫度」是我們的初心 ╱</p>
                <a class="btn hvr-hover" href="#">閱讀更多</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>新鮮</h3>

                    <p>痛苦本身就是愛的痛苦，主要的生態問題，但我給這種時間倒下，讓一些巨大的痛苦和痛苦。 </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">

                    <h3>天然</h3>
                    <p>痛苦本身就是愛的痛苦，主要的生態問題，但我給這種時間倒下，讓一些巨大的痛苦和痛苦。 </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">

                    <h3>方便</h3>
                    <p>痛苦本身就是愛的痛苦，主要的生態問題，但我給這種時間倒下，讓一些巨大的痛苦和痛苦。 </p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 class="noo-sh-title">我們團隊</h2>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">

                        <img src="~/images/img-2.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">王光臨</h3>
                            <span class="post">網路工程師</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="team-description">
                        <p>痛苦本身就是愛，主要的存儲系統。 這是後院最大的骨灰盒，承載著誰 電影永遠只是醬的妝容。 現在悲傷，純潔和醜陋。 Maecenas vulputate </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/images/img-3.jpg" alt="" />

                        <div class="team-content">
                            <h3 class="title">葉鎮霖</h3>
                            <span class="post">網路工程師</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="team-description">
                        <p>痛苦本身就是愛，主要的存儲系統。 這是後院最大的骨灰盒，承載著誰 電影永遠只是醬的妝容。 現在悲傷，純潔和醜陋。 Maecenas vulputate </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">

                        <img src="~/images/img-2.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">史帝夫</h3>
                            <span class="post">網路工程師</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="team-description">
                        <p>痛苦本身就是愛，主要的存儲系統。 這是後院最大的骨灰盒，承載著誰 電影永遠只是醬的妝容。 現在悲傷，純潔和醜陋。 Maecenas vulputate </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/images/img-1.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">李維太</h3>
                            <span class="post">網路工程師</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="team-description">
                        <p>
                            痛苦本身就是愛，主要的存儲系統。 這是後院最大的骨灰盒，承載著誰 電影永遠只是醬的妝容。 現在悲傷，純潔和醜陋。 Maecenas vulputate
                        </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->
