
@{
    ViewData["Title"] = "EventBlog";
}
<!DOCTYPE html>

<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        /*===========更改置頂圖片樣式(獨立)=============================*/
        .all-title-box_Partner {
            background: url("../images/a.jpg") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            /*            background-attachment: fixed;*/
            padding: 70px 0px;
            position: relative;
        }

            .all-title-box_Partner::before {
                background: rgba(0,0,0,0.4);
                content: "";
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
            }

            .all-title-box_Partner h2 {
                font-size: 28px;
                font-weight: 700;
                color: #ffffff;
                float: left;
                padding: 10px 0px;
            }

            .all-title-box_Partner .breadcrumb {
                background: #b0b435;
                margin: 0px;
                display: inline-block;
                border-radius: 0px;
                float: right;
            }

                .all-title-box_Partner .breadcrumb li {
                    display: inline-block;
                    color: #000000;
                    font-size: 16px;
                }

                    .all-title-box_Partner .breadcrumb li a {
                        color: #ffffff;
                        font-size: 16px;
                    }

            .all-title-box_Partner .breadcrumb-item + .breadcrumb-item::before {
                color: #000000;
            }

        .carousel-inner img { @*控制大圖尺寸*@
            object-fit: cover;
            width: 500px;
            height: 300px;

            border:2px  solid;         @*圖片圓角*@
            border-radius:10px;
            background-color:#eee;
           

        }

    </style>
</head>


    <!-- Start All Title Box===================================================== -->
    <div class="all-title-box_Partner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>農友活動</h2>
                    @*<ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>*@
                </div>
            </div>
        </div>
    </div>

    <!--<!-- Start Blog  -->
    <!--<div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>latest blog</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="images/blog-img.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Fusce in augue non nisi fringilla</h3>
                                <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                            </div>-->
    @*<ul class="option-blog">
            <li><a href="#"><i class="far fa-heart"></i></a></li>
            <li><a href="#"><i class="fas fa-eye"></i></a></li>
            <li><a href="#"><i class="far fa-comments"></i></a></li>
        </ul>*@
    <!--</div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
            <div class="blog-img">
                <img class="img-fluid" src="images/blog-img-01.jpg" alt="" />
            </div>
            <div class="blog-content">
                <div class="title-blog">
                    <h3>Fusce in augue non nisi fringilla</h3>
                    <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                </div>-->
    @*<ul class="option-blog">
            <li><a href="#"><i class="far fa-heart"></i></a></li>
            <li><a href="#"><i class="fas fa-eye"></i></a></li>
            <li><a href="#"><i class="far fa-comments"></i></a></li>
        </ul>*@
    <!--</div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
            <div class="blog-img">
                <img class="img-fluid" src="images/blog-img-02.jpg" alt="" />
            </div>
            <div class="blog-content">
                <div class="title-blog">
                    <h3>Fusce in augue non nisi fringilla</h3>
                    <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                </div>-->
    @*<ul class="option-blog">
            <li><a href="#"><i class="far fa-heart"></i></a></li>
            <li><a href="#"><i class="fas fa-eye"></i></a></li>
            <li><a href="#"><i class="far fa-comments"></i></a></li>
        </ul>*@
    <!--</div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    -->
    @*================================================活動1========================================*@
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"> <img class="d-block w-100" src="~/images/EventImg/活動1-1.jpg" alt="First slide"   > </div>
                            @*<div class="carousel-item"> <img class="d-block w-100" src="~/images/EventImg/活動1-2.jpg" alt="Second slide"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="~/images/EventImg/活動1-3.jpg" alt="Third slide"> </div>*@
                        </div>
                        <!--<a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators" style="background: #ffffff">-->
                            @* 控制小圖的控制*@
                            @*<li data-target="#carousel-example-1" data-slide-to="0" class="active">
                                <img class="d-block w-100 img-fluid" src="~/images/EventImg/活動1-1.jpg" alt="" />
                            </li>
                            <li data-target="#carousel-example-1" data-slide-to="1">
                                <img class="d-block w-100 img-fluid" src="~/images/EventImg/活動1-2.jpg" alt="" />
                            </li>
                            <li data-target="#carousel-example-1" data-slide-to="2">
                                <img class="d-block w-100 img-fluid" src="~/images/EventImg/活動1-3.jpg" alt="" />
                            </li>
                        </ol>*@
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>台灣金山｜汪汪地瓜園控窯體驗</h2>          @*活動項目標題*@
                        <h5> <del>$ 250 </del> $ 150 / 人</h5>
                        <p class="available-stock"><span> 新北市 , 金山縣 , 現場收費 <a href="#"></a></span><p>
                            <h4>適合攜家帶眷同樂樂 </h4>
                        <p>
                            地瓜跟台灣有著特殊的情感連絡，在窮困的年代裡養活了許多台灣人，地瓜在台灣是一個不可或缺的農作物，尤其是烤地瓜更是每一個台灣人成長的記憶，
                            汪汪地瓜園是一個位於地瓜知名產區新北市金山區，同時也是一個以地瓜為主題的地瓜農園，在這裡提供了控磚窯、控土窯、挖地瓜體驗、種地瓜，快帶著孩子來體驗農家樂趣！
                        </p>
                        @*<ul>
                                <li>
                                    <div class="form-group quantity-box">
                                        <label class="control-label">Quantity</label>
                                        <input class="form-control" value="0" min="0" max="20" type="number">
                                    </div>
                                </li>
                            </ul>*@

                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <a class="btn hvr-hover" asp-area="" asp-controller="Event" asp-action="EventSignUp_1">  <i class="fas fa-angle-right"></i>我要報名</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*================================================活動2========================================*@
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"> <img class="d-block w-100" src="~/images/EventImg/活動2-1.jpg" alt="First slide"> </div>
                          </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>台灣宜蘭｜蔥寶寶體驗農場</h2>          @*活動項目標題*@
                        <h5> <del>$ 350 </del> $ 200 / 人</h5>
                        <p class="available-stock"><span> 宜蘭縣 , 七星鄉 / <a href="#"></a></span><p>
                            <h4>好玩有趣的採蔥體驗 </h4>
               <p>
                 蔥寶寶體驗農場的蔥多餅 DIY 體驗，適合全家大小及親子互動的宜蘭親子活動景點，由專業老師帶你認識三星蔥的特色文化，
               並帶您體驗拔蔥、洗蔥、製作五彩繽紛又天然的馬卡龍蔥多餅，品嚐現做現煎的三星蔥多餅！
             </p>
                        @*<ul>
            <li>
                <div class="form-group quantity-box">
                    <label class="control-label">Quantity</label>
                    <input class="form-control" value="0" min="0" max="20" type="number">
                </div>
            </li>
        </ul>*@

                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <a class="btn hvr-hover" asp-area="" asp-controller="Event" asp-action="EventSignUp_2">  <i class="fas fa-angle-right"></i>我要報名</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*================================================活動3========================================*@

    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"> <img class="d-block w-100" src="~/images/EventImg/活動2-2.jpg" alt="First slide"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>台灣金山｜汪汪地瓜園控窯體驗</h2>          @*活動項目標題*@
                        <h5> <del>$ 60.00</del> $40.79</h5>
                        <p class="available-stock"><span> 新北市 , 金山縣 / <a href="#"></a></span><p>
                            <h4>適合攜家帶眷同樂樂 :</h4>
                        <p>
                            地瓜跟台灣有著特殊的情感連絡，在窮困的年代裡養活了許多台灣人，地瓜在台灣是一個不可或缺的農作物，尤其是烤地瓜更是每一個台灣人成長的記憶，
                            汪汪地瓜園是一個位於地瓜知名產區新北市金山區，同時也是一個以地瓜為主題的地瓜農園，在這裡提供了控磚窯、控土窯、挖地瓜體驗、種地瓜，快帶著孩子來體驗農家樂趣！
                        </p>
                        @*<ul>
                                <li>
                                    <div class="form-group quantity-box">
                                        <label class="control-label">Quantity</label>
                                        <input class="form-control" value="0" min="0" max="20" type="number">
                                    </div>
                                </li>
                            </ul>*@
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <a class="btn hvr-hover" asp-area="" asp-controller="Event" asp-action="EventSignUp_3">  <i class="fas fa-angle-right"></i>我要報名</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*================================================活動4========================================*@

    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"> <img class="d-block w-100" src="~/images/EventImg/活動1-3.jpg" alt="First slide"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>台灣金山｜汪汪地瓜園控窯體驗</h2>          @*活動項目標題*@
                        <h5> <del>$ 60.00</del> $40.79</h5>
                        <p class="available-stock"><span> 新北市 , 金山縣 / <a href="#"></a></span><p>
                            <h4>適合攜家帶眷同樂樂 :</h4>
                        <p>
                            地瓜跟台灣有著特殊的情感連絡，在窮困的年代裡養活了許多台灣人，地瓜在台灣是一個不可或缺的農作物，尤其是烤地瓜更是每一個台灣人成長的記憶，
                            汪汪地瓜園是一個位於地瓜知名產區新北市金山區，同時也是一個以地瓜為主題的地瓜農園，在這裡提供了控磚窯、控土窯、挖地瓜體驗、種地瓜，快帶著孩子來體驗農家樂趣！
                        </p>
                        @*<ul>
                                <li>
                                    <div class="form-group quantity-box">
                                        <label class="control-label">Quantity</label>
                                        <input class="form-control" value="0" min="0" max="20" type="number">
                                    </div>
                                </li>
                            </ul>*@

                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <a class="btn hvr-hover" asp-area="" asp-controller="Event" asp-action="EventSignUp_4">  <i class="fas fa-angle-right"></i>我要報名</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog  -->
    @*==============================================================================================================================*@
    <!-- Start Instagram Feed  -->
    <!--<div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-01.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-02.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-03.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-04.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-06.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="insc-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- End Instagram Feed  -->


    <!--<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>-->
