@model List<鮮蔬果季_前台.ViewModels.EventListViewModel>
@{
    ViewData["Title"] = "EventSignUp_1";
}
@*該頁使用獨立的css樣式*@
<link rel="stylesheet" href="~/assets/css/main.css">

@section Styles{

    <style>
        /*===========更改置頂圖片樣式(獨立)=============================*/
        .all-title-box_Partner {
            background: url("../images/a.jpg") no-repeat center center;
            background-size: cover;
            text-align: center;
            /*            background-attachment: fixed;*/
            padding: 70px 0px;
            position: relative;
        }
            .all-title-box_Partner::before {
                background: rgba(0,0,0,0.4);
                content: "";
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
            }
            .all-title-box_Partner h2 {
                font-size: 28px;
                font-weight: 700;
                color: #ffffff;
                float: left;
                padding: 10px 0px;
            }
        .carousel-inner img {        @*控制大圖尺寸*@
            object-fit: cover;
            width: 400px;
            height: 500px;
        }
    </style>
}

<!-- Start All Title Box===================================================== -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>農友活動</h2>
            </div>
        </div>
    </div>
</div>

<div style="padding-bottom:20px"></div>   @*間格用*@
@* =====================================輪播大圖=====================================================*@
<div class="col-xl-5 col-lg-5 col-md-5" style="display:block; margin:auto;">
    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/EventImg/活動1-1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/EventImg/活動1-2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/EventImg/活動1-3.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators" style="background: #ffffff">
            @* 控制小圖的控制*@
            <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                <img class="d-block w-100 img-fluid" src="~/images/EventImg/活動1-1.jpg" alt="" />
            </li>
            <li data-target="#carousel-example-1" data-slide-to="1">
                <img class="d-block w-100 img-fluid" src="~/images/EventImg/活動1-2.jpg" alt="" />
            </li>
            <li data-target="#carousel-example-1" data-slide-to="2">
                <img class="d-block w-100 img-fluid" src="~/images/EventImg/活動1-3.jpg" alt="" />
            </li>
        </ol>
    </div>
</div>


<!-- single article section -->
@{foreach (var item in Model)
    {
        <div class="mt-150 mb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-article-section">
                            <div class="single-article-text">
                                <div></div>  @*class="single-artcile-bg"*@
                                <br />
                                <p class="blog-meta">
                                    <span class="author"><i class="fas fa-user"></i> 村長</span>
                                    <span class="date"><i class="fas fa-calendar"></i> 2021-12-01</span>
                                </p>
                                <h2>
                                    @Html.DisplayFor(modelitem => item.Event.EventName)
                                </h2>
                                <p style="font-size:large">@Html.DisplayFor(modelitem=>item.Event.EventDescription)</p>
                                <br />
                                @*<ul style="list-style-type:square; font-size:large;">
                                    <li>◾ 為因應防疫措施暫時休園，後續將依據政府公告進行滾動式調整營運，如有造成不便敬請見諒。</li>
                                    <li>◾ 台灣特殊體驗控磚窯，讓你回到古早時期的台灣。</li>
                                    <li>◾ 原汁原味，傳統農村的記憶再次浮現。</li>
                                    <li>◾ 兩萬顆有機無毒栽種的株紅心地瓜，品嚐最優質的在食材。</li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } }
<div style="padding-bottom:50px"></div> @*間格用*@


<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div>
            <div class="col-lg-12">
                @*調整欄位整體寬度*@
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span style="font-size:large"> 報名資料填寫 </span>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="background-color: #FFF9E9">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form action="index.html" class="col-6">
                                            @*加上col-6 減少input的寬度*@
                                            <p style="padding-bottom: 10px">
                                                <input type="text" placeholder="姓名">
                                            </p>
                                            <p style="padding-bottom: 10px">
                                                <input type="email" placeholder="聯絡電話">
                                            </p>
                                            <p style="padding-bottom: 10px">
                                                <input type="text" placeholder="電子信箱">
                                            </p>
                                            <p style="padding-bottom: 10px">
                                                <input placeholder="預計報名人數">
                                            </p>

                                            <p> 餐點葷素 : </p>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">葷食</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">素食</label>
                                            </div>

                                            <p>
                                            <textarea name="bill" id="bill" cols="30" rows="10" placeholder="其他"></textarea>
                                            </p>
                                            <div style="padding-top:15px"> </div>
                                            <button type="button" class="btn btn-success btn-lg">送出</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-bottom:50px"></div> @*間格用*@
