@model 鮮蔬果季_前台.Models.FeedbackResponse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FeedbackResponse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FeedbackEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeedbackResponseId" />
            <div class="form-group">
                <label asp-for="OrderDetailId" class="control-label"></label>
                <input asp-for="OrderDetailId" class="form-control" />
                <span asp-validation-for="OrderDetailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedbackId" class="control-label"></label>
                <input asp-for="FeedbackId" class="form-control" />
                <span asp-validation-for="FeedbackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedbackComment" class="control-label"></label>
                <input asp-for="FeedbackComment" class="form-control" />
                <span asp-validation-for="FeedbackComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="FeedbackEdit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FeedbackList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
