
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model 鮮蔬果季_前台.ViewModels.FeedbackResponseViewModel
<h1>回覆會員</h1>

<form>
    <input type="text"asp-for="MemberName" id="MemberName"name="MemberName" placeholder="MemberName" />
    <input type="text"asp-for="UserId" id="UserId"name="UserId" placeholder="Email" />
    <textarea cols="5" rows="5" id="msg" placeholder="Your message.."></textarea>
    <button onclick="sendMail" id="sendEmail">Send</button>
</form>

 
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;
        }

            form input, form textarea, form button {
                padding: 20px;
                margin-bottom: 20px;
                outline: none;
                border: none;
                background-color: #ddd;
            }

            form button {
                background-color: #333;
                cursor: pointer;
                color: #fff;
            }

        h1 {
            text-align: center;
        }
    </style>
    <script src="~/assets/smtp.js"></script>
    <script>

        $("#sendMail").click(function () {

                Email.send({
                    Host: "smtp.elasticemail.com",
                   SecureToken: "3e540e90-231a-4a5e-ab6a-fefb72ee5c97",
                    Username: "dryadl978188@gmail.com",
                    Password: "5D96CC748B0329536EDA6565DA0DC375DC2C",
                    To: 'freshveg132@gmail.com',
                    From: "dryadl978188@gmail.com",
                    Subject: "This is the subject",
                    Body: "恭喜您已經成功報名  @Model.feedback.FeedbackName,期待您的到來!"
                })
                    .then(
                        message => alert(message)
                    );
            });

    </script>



