@*@model IEnumerable<鮮蔬果季_前台.Models.Product>*@
@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>
@{
    ViewData["Title"] = "List";
}

@section Styles{
    <style>
        .tab-pane.fade.show.active img {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }

        .why-text.full-width p {
            padding-top: 5px;
        }

        .bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner span.text {
            font-size: 18px;
        }
    </style>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>購物專區</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>排序依 </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                    <option data-display="Select">鮮蔬果季隨機推薦</option>
                                    <option value="1">本月熱銷商品</option>
                                    <option value="2">價格 (由高至低)</option>
                                    <option value="3">價格 (由低至高)</option>
                                </select>
                            </div>
                            @*<p>Showing all 4 results</p>*@
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @*商品List 開始*@
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="~/images/商品照/冬瓜.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a asp-area="" asp-controller="Shopping" asp-action="ShopDetail" asp-route-id="@item.product.ProductId" data-toggle="tooltip" data-placement="right" title="查看"><i class="fas fa-eye"></i></a></li>
                                                            <li><a asp-area="" asp-controller="MyFavorite" asp-action="List" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="#">加入購物車</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    @{

                                                    }
                                                    <h4>@item.product.ProductName (@item.supplier.SupplierName)</h4>
                                                    @{
                                                        string 規格 = @item.product.ProductSize;
                                                        string[] 公克 = 規格.Split("/");
                                                    }
                                                    <h5> @公克[0]/NT$@item.product.ProductUnitPrice</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @*商品List 結束*@
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="~/images/商品照/美生菜.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="檢視"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>有機美生菜特價中</h4>
                                                <h5> 600g<del>NT$ 92</del> NT$80</h5>
                                                <p>
                                                    營養豐富高纖蔬菜，冬陽下的沙拉或冬夜裡的火鍋都少不了這一味。
                                                </p>
                                                <a class="btn hvr-hover" href="#">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="~/images/商品照/柿子.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="檢視"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>高山甜柿特價中，趕緊手刀搶購!</h4>
                                                <h5> 500g<del>NT$ 80.00</del> NT$50</h5>
                                                <p>
                                                    一年一度甜柿季節搭配折扣讓您吃到滿意，錯過再等一年!
                                                </p>
                                                <a class="btn hvr-hover" href="#">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="~/images/商品照/牛番茄.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="檢視"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>牛番茄熱銷回饋</h4>
                                                <h5> 600g <del>NT$ 90.00</del> NT$82</h5>
                                                <p>
                                                    當季鮮美牛番茄，入菜鮮吃都讓您獲得滿分營養!
                                                </p>
                                                <a class="btn hvr-hover" href="#">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="搜尋商品..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>商品分類</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">
                                    蔬菜類 <small class="text-muted">(100)</small>
                                </a>
                                <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active">根莖類 <small class="text-muted">(50)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">瓜果類 <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">葉菜類 <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">結球菜類 <small class="text-muted">(10)</small></a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="list-group-item list-group-item-action"> 水果類 <small class="text-muted">(150) </small></a>
                            <a href="#" class="list-group-item list-group-item-action"> 台灣茶 <small class="text-muted">(11)</small></a>
                            <a href="#" class="list-group-item list-group-item-action"> 五穀雜糧 <small class="text-muted">(22)</small></a>
                        </div>
                    </div>

                    @*todo 價格區間拉bar無法套用*@
                    @*<div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range"></div>
                                <p>
                                    <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                    <button class="btn hvr-hover" type="submit">Filter</button>
                                </p>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
