@{
    ViewData["Title"] = "Newsletter";
}
@section Styles{
    <link href="~/editormd/css/editormd.css" rel="stylesheet" />
    <link href="~/editormd/css/editormd.preview.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        table {
            table-layout: fixed;
            width: 100%;
        }
        .showMember:hover {
            color: blueviolet;
            cursor: pointer;
            text-decoration: underline;
        }
        .custom-checkbox {
            padding-left: 0px;
        }
        .qa{
            padding-left:4px;
        }
        .qa:hover{
            color:darkgoldenrod;
        }
        .chk{
            width:45px;
        }
        .No{
            width:30px;
        }
        .mname{
            width:65px;
        }
        .mgd {
            width:30px;
        }
        .memail {
            width:300px;
        }

        .mcost {
            width:90px;
        }
        .emailbox{
            color:rebeccapurple;
        }
        .memlist tr:hover {
            background-color: aliceblue;
        }
        .chky{
            width:40px;   
            height:22px;
            text-align:right;
        }
        .btnupload:hover {
            background-color:#eeeeee;
        }
    </style>
}
<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title" style="font-weight: 700;font-size:1.75rem">優惠電子報</h2>
        <p class="card-text"></p>
        <div class="card shadow" style="width:85%">
            <div class="card-body">
                <div class="form-group mb-3" style="padding-left:7px">
                    <label @*for="example-email"*@ class="showMember" data-toggle="modal" data-target="#ModalAdd">收件者</label><span data-toggle="tooltip" data-placement="right" title="點擊旁邊選取收件者" class="fe fe-16 fe-help-circle qa"></span>
                    <input type="text" id="example-email" name="example-email" class="form-control emailbox" placeholder="請在此輸入email或點擊上方" style="width:60%">
                </div>
                <p class="card-text"></p>
                <div class="form-group mb-3" style="padding-left:7px">
                    <label>電子報主旨</label>
                    <input type="text" class="form-control emailsubject" placeholder="輸入電子報主旨" style="width:60%">
                </div>
                <input style="margin-left:7px" class="btn btn-primary btndemo1" type="button" id="inlineRadio4" value="DEMO1">
                <input style="margin-left:7px" class="btn btn-secondary btndemo2" type="button" id="inlineRadio4" value="DEMO2">
                <input style="margin-left:7px" class="btn btn-info btndemo3" type="button" id="inlineRadio4" value="DEMO3">
                <p class="card-text"></p>
                <p class="card-text"></p>
                <div id="test-editormd" class="test0">
                    <textarea id="articleContent" style="display: none;"></textarea>
                </div>
                <div id="" class="test1">
                    <textarea id="articleContent" style="display: none;">
# [鮮蔬果季]優惠報報
![](https://upload.cc/i1/2022/01/13/8AIG5z.png)

# 親愛的會員您好 :heart:

過年就要到了呢！
因此在此提前送您新春優惠券，提前祝您虎年行大運 :clap:

[![](https://upload.cc/i1/2022/01/13/QwTcDj.jpg)](https://vegetable132web-vegetable132staging.azurewebsites.net/Coupons/CouponsList)

------------



若您不想要收到優惠內容，請[按我](https://vegetable132web-vegetable132staging.azurewebsites.net/Coupons/CouponsList "按我")

------------



![](https://upload.cc/i1/2022/01/13/TghUof.png)
</textarea>
                </div>
                <div style="text-align:center">
                    <button type="button" class="btn btn-primary btnsend" style="width:99%">寄送</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="ModalAdd" tabindex="-1" aria-labelledby="ModalAddLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 55%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalAddLabel">收件者</h5>
                <div class="form-check form-check-inline" style="padding-left:2.5%">
                    <input class="form-check-input memall" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                    <label class="form-check-label" for="inlineRadio1">查詢全部</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input memcost" type="radio" name="inlineRadioOptions" id="inlineRadio2">
                    <label class="form-check-label" for="inlineRadio2"><input type="number" value="1" min="1" max="10" class="chky" /> 年內有消費的會員</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input memdemo" type="radio" name="inlineRadioOptions" id="inlineRadio3">
                    <label class="form-check-label" for="inlineRadio3" style="color:darkgreen;font-weight:900">DEMO使用者</label>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- table -->
            <div class="card shadow">
                @*LOADING START*@
                <div id="loader" class="loader" style="text-align:center;padding-top:50px;padding-bottom:50px">
                    <div class="spinner-border mr-3" style="width: 6rem; height: 6rem;" role="status">
                        @*<span class="sr-only">Loading...</span>*@
                    </div>
                    <div style="padding-top:25px">
                        <img style="width:15%" src="~/images/loadingtext.gif" />
                    </div>
                </div>
                @*LOADING END*@
                <div class="card-body memshow">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/editormd/js/editormd.js"></script>
    <script src="~/editormd/languages/zh-tw.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $(document).on("click", ".showMember", function () {
            $('.loader').attr("hidden", false);
            $('.memshow').attr("hidden", true);
            $('.memshow').load("@Url.Content("~/BackstageNewsletterApi/MlistPartial")", function () {
                $('#dataTable-1').DataTable(
                    {
                        autoWidth: false,
                        "lengthMenu": [
                            [12, 24, 48, -1],
                            [12, 24, 48, "All"]
                        ]
                    });
                $('.loader').attr("hidden", true);
                $('.memshow').attr("hidden", false);
            })
            $("input[type=radio]")[0].checked = true;
        })
        $(document).on("change", ".memcost", function () {
            var chky = $('.chky').val();
            console.log(chky);
            $('.loader').attr("hidden", false);
            $('.memshow').attr("hidden",true);
            $('.memshow').load("@Url.Content("~/BackstageNewsletterApi/MlistPartialbyCost")/"+chky, function () {
                $('#dataTable-1').DataTable(
                    {
                        autoWidth: false,
                        "lengthMenu": [
                            [12, 24, 48, -1],
                            [12, 24, 48, "All"]
                        ]
                    });
                $('.loader').attr("hidden", true);
                $('.memshow').attr("hidden", false);
            })
        })
        $(document).on("change", ".memall", function () {
            $('.loader').attr("hidden", false);
            $('.memshow').attr("hidden", true);
            $('.memshow').load("@Url.Content("~/BackstageNewsletterApi/MlistPartial")", function () {
                $('#dataTable-1').DataTable(
                    {
                        autoWidth: false,
                        "lengthMenu": [
                            [12, 24, 48, -1],
                            [12, 24, 48, "All"]
                        ]
                    });
                $('.loader').attr("hidden", true);
                $('.memshow').attr("hidden", false);
            })
            $("input[type=radio]")[0].checked = true;
        })
        $(document).on("change", ".memdemo", function () {
            $('.loader').attr("hidden", false);
            $('.memshow').attr("hidden", true);
            $('.memshow').load("@Url.Content("~/BackstageNewsletterApi/Demo")", function () {
                $('#dataTable-1').DataTable(
                    {
                        autoWidth: false,
                        "lengthMenu": [
                            [12, 24, 48, -1],
                            [12, 24, 48, "All"]
                        ]
                    });
                $('.loader').attr("hidden", true);
                $('.memshow').attr("hidden", false);
                $("input[type=checkbox]")[1].checked = true;
            })
        })
        $(document).on("click", ".btnAddmem", function () {
            var checkval = ($('input:checkbox:checked[name="choice"]').map(function () { return $(this).val(); }).get()).toString();
            //console.log(checkval);
            $('.emailbox').val(checkval);
        })

        //BUBBLE插件
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        //導入txt檔帶入demo

        $(document).on("click", ".btndemo1", function () {
            $('.emailsubject').val("[鮮蔬電子報]立即領取優惠券！！");
            $.ajax({
                url: "/BackstageNewsletter/GetDemoNews",
            }).done(function (data) {
                testEditor.setMarkdown(data)
            })
        })
        $(document).on("click", ".btndemo2", function () {
            $('.emailsubject').val("[鮮蔬電子報]絕無冷場的小小農夫半日體驗(即將額滿)");
            $.ajax({
                url: "/BackstageNewsletter/GetDemoNews2",
            }).done(function (data) {
                testEditor.setMarkdown(data)
            })
        })

        $(document).on("click", ".btndemo3", function () {
            $('.emailsubject').val("[鮮蔬電子報]超優福利品推薦～手刀下單！");
            $.ajax({
                url: "/BackstageNewsletter/GetDemoNews3",
            }).done(function (data) {
                testEditor.setMarkdown(data)
            })
        })

        //MD編輯器
        $(function () {
            testEditor = editormd("test-editormd", {
                width: "99%",
                height: 640,
                syncScrolling: "single",
                path: "/editormd/lib/",
                saveHTMLToTextarea: true,
                emoji: true,
                //theme: "gray",//工具栏主题
                //previewTheme: "dark",//预览主题
                //editorTheme: "pastel-on-dark",//编辑主题
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/BackstageNewsletterApi/UploadF",
            });
            //$(document).on("click", ".btnsend", function () {
            //    alert(testEditor.getHTML());
            //})
            $(document).on("click", ".btnsend", async function (e) {
                var sendemail = $('.emailbox').val();
                var emailsubj = $('.emailsubject').val();
                var indata = testEditor.getHTML();
                console.log("sendemail=" + sendemail);
                console.log("emailsubj=" + emailsubj);
                console.log("indata=" + indata);
                if (sendemail == "") {
                    alert("請輸入收件人！");
                }
                else if (emailsubj == "") {
                    alert("請輸入電子報主旨！");
                }
                else if (indata =="") {
                    alert("請輸入電子報內容！");
                }
                else {
                    e.preventDefault();
                    Email.send({
                        Host: "smtp.elasticemail.com",
                        /* Host = "smtp.gmail.com",*/
                        /*Host: "sdryadl978188@gmail.com",*/
                        Port: 587,
                        SecureToken: "3e540e90-231a-4a5e-ab6a-fefb72ee5c97",
                        Username: "dryadl978188@gmail.com",
                        Password: "220C4ED1140BB4829DC16C309ED5E3CBB7F2",
                        /*To: `${email}`,*/
                        To: sendemail,
                        From: "dryadl978188@gmail.com",
                        Subject: emailsubj,
                        Body: testEditor.getHTML()
                    }).then(
                        alert("已傳送信件")

                    );
                }
                //e.preventDefault();
                //Email.send({
                //    Host: "smtp.elasticemail.com",
                //    /* Host = "smtp.gmail.com",*/
                //    /*Host: "sdryadl978188@gmail.com",*/
                //    Port: 587,
                //    SecureToken: "3e540e90-231a-4a5e-ab6a-fefb72ee5c97",
                //    Username: "dryadl978188@gmail.com",
                //    Password: "220C4ED1140BB4829DC16C309ED5E3CBB7F2",
                //    /*To: `${email}`,*/
                //    To: sendemail,
                //    From: "dryadl978188@gmail.com",
                //    Subject: emailsubj,
                //    Body: testEditor.getHTML()
                //}).then(
                //    alert("已傳送信件")

                //);
                //console.log(sendemail);
                //console.log(emailsubj);
            });
        });
        (function () {
            var factory = function (exports) {
                var lang = {
                    name: "zh-tw",
                    description: "開源在線Markdown編輯器<br/>Open source online Markdown editor.",
                    tocTitle: "目錄",
                    toolbar: {
                        undo: "還原（Ctrl+Z）",
                        redo: "重做（Ctrl+Y）",
                        bold: "粗體",
                        del: "刪除線",
                        italic: "斜體",
                        quote: "引用",
                        ucwords: "將所選的每個單詞首字母轉成大寫",
                        uppercase: "將所選文本轉成大寫",
                        lowercase: "將所選文本轉成小寫",
                        h1: "標題1",
                        h2: "標題2",
                        h3: "標題3",
                        h4: "標題4",
                        h5: "標題5",
                        h6: "標題6",
                        "list-ul": "無序列表",
                        "list-ol": "有序列表",
                        hr: "橫線",
                        link: "超連結",
                        "reference-link": "引用超連結",
                        image: "加入圖片",
                        code: "行內代碼",
                        "preformatted-text": "預格式文本 / 代碼塊（縮進風格）",
                        "code-block": "代碼塊（多語言風格）",
                        table: "加入表格",
                        datetime: "加入日期時間",
                        emoji: "Emoji 表情",
                        "html-entities": "HTML 實體字符",
                        pagebreak: "插入分頁符",
                        watch: "關閉實時預覽",
                        unwatch: "開啟實時預覽",
                        preview: "全視窗預覽HTML（按 Shift + ESC 退出）",
                        fullscreen: "全螢幕（按 ESC 退出）",
                        clear: "清空",
                        search: "搜尋",
                        help: "使用幫助",
                        info: "關於" + exports.title
                    },
                    buttons: {
                        enter: "確定",
                        cancel: "取消",
                        close: "關閉"
                    },
                    dialog: {
                        link: {
                            title: "添加超連結",
                            url: "連結地址",
                            urlTitle: "連結標題",
                            urlEmpty: "錯誤：請填寫超連結地址。"
                        },
                        referenceLink: {
                            title: "添加引用超連結",
                            name: "引用名稱",
                            url: "連結地址",
                            urlId: "連結ID",
                            urlTitle: "連結標題",
                            nameEmpty: "錯誤：引用超連結的名稱不能為空。",
                            idEmpty: "錯誤：請填寫引用超連結的ID。",
                            urlEmpty: "錯誤：請填寫引用超連結的URL地址。"
                        },
                        image: {
                            title: "添加圖片",
                            url: "圖片地址",
                            link: "圖片連結",
                            alt: "圖片描述",
                            uploadButton: "本地上傳",
                            imageURLEmpty: "錯誤：圖片地址不能為空。",
                            uploadFileEmpty: "錯誤：上傳的圖片不能為空！",
                            formatNotAllowed: "錯誤：只允許上傳圖片文件，允許上傳的圖片文件格式有："
                        },
                        preformattedText: {
                            title: "添加預格式文本或代碼塊",
                            emptyAlert: "錯誤：請填寫預格式文本或代碼的內容。",
                            placeholder: "coding now...."
                        },
                        codeBlock: {
                            title: "添加代碼塊",
                            selectLabel: "代碼語言：",
                            selectDefaultText: "請語言代碼語言",
                            otherLanguage: "其他語言",
                            unselectedLanguageAlert: "錯誤：請選擇代碼所屬的語言類型。",
                            codeEmptyAlert: "錯誤：請填寫代碼內容。",
                            placeholder: "coding now...."
                        },
                        htmlEntities: {
                            title: "HTML實體字符"
                        },
                        help: {
                            title: "使用幫助"
                        }

                    }
                };

                exports.defaults.lang = lang;
            };

            // CommonJS/Node.js
            if (typeof require === "function" && typeof exports === "object" && typeof module === "object") {
                module.exports = factory;
            }
            else if (typeof define === "function")  // AMD/CMD/Sea.js
            {
                if (define.amd) { // for Require.js

                    define(["editormd"], function (editormd) {
                        factory(editormd);
                    });

                } else { // for Sea.js
                    define(function (require) {
                        var editormd = require("~/editormd");
                        factory(editormd);
                    });
                }
            }
            else {
                factory(window.editormd);
            }

        })();
        //$('input[type=button]').click(function () {
        //    $(".test0").remove();
        //    $(".test1").attr("id", "test-editormd")

        //    $('.emailsubject').val("[鮮蔬果季]優惠報報");
        //    $(function () {
        //        testEditor = editormd("test-editormd", {
        //            width: "99%",
        //            height: 640,
        //            syncScrolling: "single",
        //            path: "/editormd/lib/",
        //            saveHTMLToTextarea: true,
        //            emoji: true,
        //            //theme: "gray",//工具栏主题
        //            //previewTheme: "dark",//预览主题
        //            //editorTheme: "pastel-on-dark",//编辑主题
        //            imageUpload: true,
        //            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        //            imageUploadURL: "/BackstageNewsletterApi/UploadF/",
        //        });
        //    });
        //    (function () {
        //        var factory = function (exports) {
        //            var lang = {
        //                name: "zh-tw",
        //                description: "開源在線Markdown編輯器<br/>Open source online Markdown editor.",
        //                tocTitle: "目錄",
        //                toolbar: {
        //                    undo: "還原（Ctrl+Z）",
        //                    redo: "重做（Ctrl+Y）",
        //                    bold: "粗體",
        //                    del: "刪除線",
        //                    italic: "斜體",
        //                    quote: "引用",
        //                    ucwords: "將所選的每個單詞首字母轉成大寫",
        //                    uppercase: "將所選文本轉成大寫",
        //                    lowercase: "將所選文本轉成小寫",
        //                    h1: "標題1",
        //                    h2: "標題2",
        //                    h3: "標題3",
        //                    h4: "標題4",
        //                    h5: "標題5",
        //                    h6: "標題6",
        //                    "list-ul": "無序列表",
        //                    "list-ol": "有序列表",
        //                    hr: "橫線",
        //                    link: "超連結",
        //                    "reference-link": "引用超連結",
        //                    image: "加入圖片",
        //                    code: "行內代碼",
        //                    "preformatted-text": "預格式文本 / 代碼塊（縮進風格）",
        //                    "code-block": "代碼塊（多語言風格）",
        //                    table: "加入表格",
        //                    datetime: "加入日期時間",
        //                    emoji: "Emoji 表情",
        //                    "html-entities": "HTML 實體字符",
        //                    pagebreak: "插入分頁符",
        //                    watch: "關閉實時預覽",
        //                    unwatch: "開啟實時預覽",
        //                    preview: "全視窗預覽HTML（按 Shift + ESC 退出）",
        //                    fullscreen: "全螢幕（按 ESC 退出）",
        //                    clear: "清空",
        //                    search: "搜尋",
        //                    help: "使用幫助",
        //                    info: "關於" + exports.title
        //                },
        //                buttons: {
        //                    enter: "確定",
        //                    cancel: "取消",
        //                    close: "關閉"
        //                },
        //                dialog: {
        //                    link: {
        //                        title: "添加超連結",
        //                        url: "連結地址",
        //                        urlTitle: "連結標題",
        //                        urlEmpty: "錯誤：請填寫超連結地址。"
        //                    },
        //                    referenceLink: {
        //                        title: "添加引用超連結",
        //                        name: "引用名稱",
        //                        url: "連結地址",
        //                        urlId: "連結ID",
        //                        urlTitle: "連結標題",
        //                        nameEmpty: "錯誤：引用超連結的名稱不能為空。",
        //                        idEmpty: "錯誤：請填寫引用超連結的ID。",
        //                        urlEmpty: "錯誤：請填寫引用超連結的URL地址。"
        //                    },
        //                    image: {
        //                        title: "添加圖片",
        //                        url: "圖片地址",
        //                        link: "圖片連結",
        //                        alt: "圖片描述",
        //                        uploadButton: "本地上傳",
        //                        imageURLEmpty: "錯誤：圖片地址不能為空。",
        //                        uploadFileEmpty: "錯誤：上傳的圖片不能為空！",
        //                        formatNotAllowed: "錯誤：只允許上傳圖片文件，允許上傳的圖片文件格式有："
        //                    },
        //                    preformattedText: {
        //                        title: "添加預格式文本或代碼塊",
        //                        emptyAlert: "錯誤：請填寫預格式文本或代碼的內容。",
        //                        placeholder: "coding now...."
        //                    },
        //                    codeBlock: {
        //                        title: "添加代碼塊",
        //                        selectLabel: "代碼語言：",
        //                        selectDefaultText: "請語言代碼語言",
        //                        otherLanguage: "其他語言",
        //                        unselectedLanguageAlert: "錯誤：請選擇代碼所屬的語言類型。",
        //                        codeEmptyAlert: "錯誤：請填寫代碼內容。",
        //                        placeholder: "coding now...."
        //                    },
        //                    htmlEntities: {
        //                        title: "HTML實體字符"
        //                    },
        //                    help: {
        //                        title: "使用幫助"
        //                    }
        //                }
        //            };

        //            exports.defaults.lang = lang;
        //        };

        //        // CommonJS/Node.js
        //        if (typeof require === "function" && typeof exports === "object" && typeof module === "object") {
        //            module.exports = factory;
        //        }
        //        else if (typeof define === "function")  // AMD/CMD/Sea.js
        //        {
        //            if (define.amd) { // for Require.js

        //                define(["editormd"], function (editormd) {
        //                    factory(editormd);
        //                });

        //            } else { // for Sea.js
        //                define(function (require) {
        //                    var editormd = require("../editormd");
        //                    factory(editormd);
        //                });
        //            }
        //        }
        //        else {
        //            factory(window.editormd);
        //        }

        //    })();
        //})

        //checkBOX全選
        function demo() {
            var allcheck = document.getElementById("allcheck");
            var choice = document.getElementsByName("choice");
            for (var i = 0; i < choice.length; i++) {
                choice[i].checked = allcheck.checked;
            }
        }
        function setAll() {
            if (!$(".checknum").checked) {
                $("#allcheck").prop("checked", false); // 子複選框某個不選擇，全選也被取消
            }
            var choicelength = $("input[type='checkbox'][class='checknum']").length;
            var choiceselect = $("input[type='checkbox'][class='checknum']:checked").length;

            if (choicelength == choiceselect) {
                $("#allcheck").prop("checked", true);   // 子複選框全部部被選擇，全選也被選擇；1.對於HTML元素我們自己自定義的DOM屬性，在處理時，使用attr方法；2.對於HTML元素本身就帶有的固有屬性，在處理時，使用prop方法。
            }

        }
    </script>
}