@model 鮮蔬果季_前台.Models.Member
@{
    ViewData["Title"] = "forgetPassword";
}
<div class="clickmsgbox"></div>
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>會員中心</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                    </li>
                    <li class="breadcrumb-item active">尋回密碼</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wishlist-box-main">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="my-4" id="MYV" style="padding-left:500px">
                        <form id="contactForm">
                            <h2 class="h3 mb-4 page-title" style="margin-top:50px; ">忘記密碼</h2>
                            <div class="row mb-4">
                                <div class="col-md-5" style="padding-left:-15px;padding-right:0px">
                                    <div class="form-group">
                                        <label>登入帳號</label>
                                        <input class="form-control" id="UserId" required data-error="欄位不可空白">
                                        <input type="hidden" id="membername" />
                                        <div class="cust-data">
                                        </div>
                                        <div class="help-block with-errors">
                                            <ul class="list-unstyled">
                                                <li id="UserIderr"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="submit-button">
                                        <button class="btn hvr-hover BtnSend" id="submit" type="submit" style="color:white">傳送密碼郵件</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@section Scripts{
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
    <script>
        $(".BtnSend").click(async function (e) {
            e.preventDefault()
            var UserId = $("#UserId").val();
            var ra = await fetch("@Url.Action("RandomPassword", "Login")?UserId=" + UserId)
            var data = await ra.text()
            if (data != 0) {
                Email.send({
                    Host: "smtp.elasticemail.com",
                    SecureToken: "3e540e90-231a-4a5e-ab6a-fefb72ee5c97",
                    Username: "dryadl978188@gmail.com",
                    Password: "220C4ED1140BB4829DC16C309ED5E3CBB7F2",
                    To: $("#UserId").val(),
                    From: "dryadl978188@gmail.com",
                    Subject: "找回密碼信函",
                    Body: "<h2>" + "鮮蔬果季客服中心" + "</h2>" + "親愛的用戶：" + "<strong>" + $("#membername").val() + "</strong>" + "    "+ "先生 / 小姐" + "，您好!" + "<br>" + "此為系統自動發送訊息，無須回覆。" + "<br>" + "您的密碼為：" + "<strong>" + data + "</strong> "
                })
                 alert("請至信箱收取密碼信函")
            }
            
        });
        $("#UserId").blur(function () {
            var UserId = $("#UserId").val();
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("CheckUserId", "Login")?UserId=" + UserId)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                if (data != 0) {
                    $("#UserIderr").html("")
                    $("#membername").val(data)
                }
                else {
                    $("#UserIderr").html("帳號不存在")
                }
            })
        })
    </script>
}
