@model 鮮蔬果季_前台.ViewModels.MemberViewModel
@section Scripts{
   
}
<div class="wishlist-box-main">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="my-4" id="MYV">
                        <form id="contactForm" method="post" style="">
                            <h2 class="h3 mb-4 page-title" style="margin-top:50px; ">忘記密碼</h2>
                            <div class="row mb-4">
                                <div class="col-md-5" style="padding-left:0px;padding-right:0px">
                                    <div class="form-group">
                                        <label >登入帳號</label>
                                        <input type="email" class="form-control" id="UesrId" required data-error="欄位不可空白">
                                        @*<div class="help-block with-errors">
                                            <ul class="list-unstyled"> <li class="OldPassworderr"></li></ul>
                                        </div>*@
                                    </div>
                                    <div class="submit-button" style="">
                                        <button class="btn hvr-hover" id="submit" type="submit" style="color:white">傳送密碼郵件</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
