
@{
    ViewData["Title"] = "Login";
}
@section Styles{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <style>

        /*#標題text {
            margin-top: 2vh;
            font-family: 'Noto Sans TC', sans-serif;
        }*/

        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 6vh;
            margin-bottom: 6vh;
            max-width: 600px;
            height: 350px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
            border-radius:10px;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -85px;
                }
    </style>
}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>登入頁面</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <div id="login" >
        <div class="container" >
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12"style="background-color: #FFF9E9;  padding-bottom:150px;">
                        <form id="login-form" class="form" action="" method="post" >
                            <h3 class="text-center" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">會員登入</h3>
                            <div class="form-group">
                                <label for="username" class="" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">電子郵件帳號:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class=""style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">密碼:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class=""style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;"><span>記住我的帳號、密碼</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <div class="submit-button">
                                <button type="submit" name="submit" class="btn hvr-hover " >登入</button>
                                </div>
                                </div>
                            <div id="register-link" class="text-right" style="padding-top: 22px; padding-bottom:200px">
                                <a  asp-area="" asp-controller="Login" asp-action="Register" class="btn hvr-hover" style="color:white; padding:10px;">尚未註冊?</a>
                            </div>
                            <p><br/></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



