
@{
    ViewData["Title"] = "Login";

}
@section Scripts{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">

    <style>

        /*#標題text {
            margin-top: 2vh;
            font-family: 'Noto Sans TC', sans-serif;
        }*/

        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 6vh;
            margin-bottom: 6vh;
            max-width: 600px;
            height: 350px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
            border-radius: 10px;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -93px;
                }
    </style>
    <script>
        $("#submit").click(async function () {
            var xhr = new XMLHttpRequest();
            var ExistuserName = $("#username").val();
            var ExistuserPassword = $("#password").val();
            xhr.open("get", "@Url.Action("ExistPassword","Login")?ExistuserName=" + ExistuserName + "&ExistuserPassword=" + ExistuserPassword)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                if (data == 1) {
                    alert("密碼錯誤")
                    return false
                }
                else if (data == 0) {
                    alert("帳號或密碼不可為空欄")
                }
                else if (data == 3) {
                    alert("帳號不存在")
                }
            })
         })
    </script>

    @*第三方登入測試區開始*@
    <script>
        /*登入抓取資訊*/
        var id = null;
        var email = null;

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.


            var profile = googleUser.getBasicProfile(),
                target = document.getElementById("GOOGLE_STATUS_1"),
                html = "";

            html += "ID: " + profile.getId() + "<br/>";
            html += "會員暱稱： " + profile.getName() + "<br/>";
            html += "會員頭像：" + profile.getImageUrl() + "<br/>";
            html += "會員 email：" + profile.getEmail() + "<br/>";
            target.innerHTML = html;

            id = profile.getId();
            email = profile.getEmail()
        }
        /*登出*/
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
        /*跳轉畫面*/

        $(document).on("click", ".g-signin2", function () {
            var url = '@Url.Action("Login","POST")';
            url += '?id=' + id + '&email=' + email;
            window.location.href = url;

        })

    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="436348574559-4s2b3mvom0gnfno3007rgda1qiveegkv.apps.googleusercontent.com" />
    @*第三方登入測試區結束*@
}


<!-- Start All Title Box -->
<div class="clickmsgbox"></div>
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>登入</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">登入</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            @*第三方登入狀態開始*@
            目前狀態
            <span id="GOOGLE_STATUS_1"></span>
            @*第三方登入狀態結束*@
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12" style="background-color: #FFF9E9;  padding-bottom:150px;">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">會員登入</h3>
                        <div class="form-group">
                            <label for="username" class="" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">電子郵件帳號:</label>
                            <br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">密碼:</label>
                            <br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;"><span>記住我的帳號、密碼</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label>
                            <br>
                            <div class="submit-button">
                                <button id="submit" type="submit" name="submit" class="btn hvr-hover ">登入</button>
                                <a style="color:white; padding:9px 16px 9px 16px;" class="btn hvr-hover" id="Demo">Demo</a>
                                <a style="color:white; padding:9px 16px 9px 16px;" class="btn hvr-hover" id="admin">admin</a>
                            </div>
                        </div>
                        @*GOOGLE第三方登入測試開始*@
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        <a href="#" onclick="signOut();">Sign out</a>
                        @*GOOGLE第三方登入測試結束*@
                        <div id="register-link" class="text-right" style="">
                            <button type="button" data-toggle="modal" data-target="#forgetPasswordModal" for="forgetPassword" name="forgetPassword" class="forgetPassword" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif; ">忘記密碼?</button>
                            <br />
                            <a asp-area="" asp-controller="Login" asp-action="Register" class="btn hvr-hover" style="margin-top:4.5px ;color:white; padding:10px;">尚未註冊?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="forgetPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 1000px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">忘記密碼</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form name="MembEdit">
                        <div class="modal-body forgetPasswordBody">
                            <!--內容-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <input type="submit" value="儲存" class="btn btn-primary BtnSave" data-dismiss="modal" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    $("#Demo").click(function () {
        console.log("ok")
        $("#username").val("a001@gmail.com");
        $("#password").val("a12345");
    });
    $("#admin").click(function () {
        console.log("ok")
        $("#username").val("adminuser");
        $("#password").val("a12345");
    });
    $(document).on("click", ".forgetPassword", function () {
        $(".forgetPasswordBody").load("@Url.Content("~/Login/forgetPassword")")
        })
</script>




