@model List<鮮蔬果季_前台.ViewModels.CouponsListViewModel>

@{
    ViewData["Title"] = "List";
}

@section Styles{
    <style>
        body {
            background: #dedede;
        }

        .coupon .kanan {
            border-left: 1px dashed #ddd;
            width: 40% !important;
            position: relative;
        }

            .coupon .kanan .info::after, .coupon .kanan .info::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: #dedede;
                border-radius: 100%;
            }

            .coupon .kanan .info::before {
                top: -10px;
                left: -10px;
            }

            .coupon .kanan .info::after {
                bottom: -10px;
                left: -10px;
            }

        .coupon .time {
            font-size: 1.6rem;
        }

        .date {
            font-size: 6px;
        }

        .bg-white {
            height: 140px;
        }

        #thtitle {
            text-align: center;
        }

        .p-3 {
            padding: 1.5rem !important;
        }
        /*        #QuantityIssued {
            float: right;
            position: absolute;
            bottom:23px;
            right:140px;
            height:17px;
        }*/
    </style>
}
@section Scripts{
    <script>
    </script>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>優惠券</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="#" asp-action="List">會員中心</a></li>
                    <li class="breadcrumb-item active">優惠券</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start All Coupons List -->
<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th id="thtitle">優惠券列表</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="container my-5">
                        <div class="row">

                            @foreach (var item in Model)
                            {
                                <div class="col-sm-6">
                                    <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
                                        <div class="kiri p-3">
                                            <div class="icon-container ">
                                                <div class="icon-container_box">
                                                    <img src="~/images/購物金.png" width="85" alt="totoprayogo.com" class="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tengah py-3 d-flex w-100 justify-content-start">
                                            <div>
                                                @{
                                                    int num = item.coupon.CouponQuantityIssued;
                                                    if (item.coupon.CouponEndDate < DateTime.Now)
                                                    {
                                                        <span class="badge badge-success">已過期</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-warning">活動中</span>
                                                        if (item.couponDetail.CouponId == item.coupon.CouponId)
                                                        {
                                                            <span class="badge badge-info">剩餘<span id="numcount">@item.couponDetail.CouponQuantity</span>張</span>

                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-info">尚未領取</span>

                                                        }
                                                    }
                                                }
                                                <h3 class="lead">@Html.DisplayFor(modelItem => item.coupon.CouponName)</h3>
                                                @{
                                                    if (item.coupon.DiscountCondition == 0)
                                                    {
                                                        <p class="text-muted mb-0">全館消費不限金額 現折NT $@item.coupon.CouponDiscount</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-muted mb-0">消費滿NT $@item.coupon.DiscountCondition 現折NT $@item.coupon.CouponDiscount</p>

                                                    }
                                                }
                                            </div>
                                            @*<p id="QuantityIssued" class="badge badge-info">限量100張</p>*@
                                        </div>
                                        <div class="kanan">
                                            <div class="info m-3 d-flex align-items-center">
                                                <div class="w-100">
                                                    <div class="block">
                                                        <p>
                                                            @{
                                                                string strdate = (item.coupon.CouponStartDate).ToString();
                                                                string enddate = (item.coupon.CouponEndDate).ToString();
                                                                string[] chgstrdate = strdate.Split(" ");
                                                                string[] chgenddate = enddate.Split(" ");
                                                            }
                                                            <span class="date">@chgstrdate[0] </span>
                                                        </p>
                                                        <span class="date">至</span>
                                                        <p>
                                                            <span class="date">@chgenddate[0]</span>
                                                        </p>
                                                    </div>
                                                    @{
                                                        if (item.coupon.CouponEndDate < DateTime.Now)
                                                        {
                                                            <a class="btn btn-sm btn-outline-dark btn-block disabled">
                                                                已過期
                                                            </a>
                                                        }
                                                        else if (item.couponDetail.CouponQuantity >= 0 && item.couponDetail.CouponId != 0)
                                                        {
                                                            <a class="btn btn-sm btn-outline-dark btn-block disabled">
                                                                已領取
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="btn btn-sm btn-outline-danger btn-block">
                                                                領取
                                                            </a>
                                                        }
                                                    }
                                                    @*<a href="#" class="btn btn-sm btn-outline-danger btn-block">
                                                            領取
                                                        </a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End All Coupons List -->
