@section Styles{
    <style>
        .order-box h3 {
            font-size: 18px;
        }

        .img-fluid {
            width: 100px;
            height: 80px;
            object-fit: cover;
        }

        .include {
            position: relative;
            width: 190px;
            height: 100px;
            padding: 10px;
            background-color: aliceblue;
            border-radius: 10px;
            border: 1px dotted gray;
            margin-right: 10px;
            margin-top: 10px;
        }

        .discountnum {
            font-size: 25px;
            padding-left: 5px;
        }

        .lead {
            position: absolute;
            top: 8px;
            font-weight: bold;
            font-size: 16px;
            margin-right: 50px;
            line-height: 1.5
        }

        .usebtn {
            right: 20px;
            bottom: 15px;
            position: absolute;
        }

        .cpbox {
            width: 100%;
            height: 220px;
            /*background-color: gray;*/
            padding: 17.5px;
            margin-left: 1px;
            margin-top: 10px;
        }

        .order-box {
            /*新增的*/
            width: 450px;
        }

        .cpnum {
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .discount {
            position: absolute;
            bottom: 5px;
        }
    </style>
}
@*酷碰券顯示開始*@
<div class="row cpbox">
    @foreach (var item in ViewBag.Coupons)
    {
        if (item.coupon.CouponEndDate > DateTime.Now && 1000 > item.coupon.DiscountCondition)
        {
            <div class="include">
                <span class="lead">@item.coupon.CouponName</span>
                <span class="badge badge-primary cpnum">@item.couponDetail.CouponQuantity 張</span>
                <div class="discount">
                    <span class="discounttext">折NT$</span>
                    <span class="text-muted mb-0 discountnum">$@item.coupon.CouponDiscount</span>
                </div>
                <a class="btn btn-sm btn-outline-danger usebtn ">
                    使用
                </a>
            </div>
        }
    }
</div>
@*酷碰券顯示結束*@