<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <title>廣場聊天室</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link href="~/css/ChatRoom.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i>
                <select id="group" class="show-tick form-control">
                    <option>農友活動</option>
                    <option>農友產品</option>
                </select>
                <button type="button" id="addGroupBtn">進入群組</button>
                <input id="oldgroup" type="hidden" value="尚未進入">
                <input id="name" type="hidden" value="@UserLogin.member.MemberName">
            </div>
            <div class="msger-header-options">

            </div>
        </header>
        <!--聊天 block-->
        <div id="msgDiv" class="msger-chat">

        </div>
        <!--聊天 block-->

        <div class="msger-inputarea">
            <input type="text" class="msger-input" id="msg" placeholder="說些什麼吧～">
            <button type="button" id="submitGroupBtn" class="msger-send-btn">發送訊息</button>
        </div>
    </section>
    @*  <select id="group" class="show-tick form-control">
            <option>農友活動</option>
            <option>農友產品</option>
        </select>
        <input id="oldgroup" type="hidden" value="">
        <button type="button" id="addGroupBtn">加入群組</button>
        <br>
        姓名：
        <input id="name" type="text" value="@UserLogin.member.MemberName">
        <br>
        訊息
        <input id="msg" type="text">
        <br>
        <button type="Button" id="submitGroupBtn">送出給群組</button>
        <button type="Button" id="submitAllBtn">送出給所有人</button>
        <br>
        <div id="msgDiv"></div>*@

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>
        "use strict";
        var connection = new signalR.HubConnectionBuilder().withUrl("/ChatHub").build(); //建立連接

        connection.start().then(function () {
            document.getElementById("addGroupBtn").disabled = false; //初始化
            document.getElementById("submitGroupBtn").disabled = false; //初始化
        }).catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("addGroupBtn").addEventListener("click", function (event) {
            var user = document.getElementById("name").value;
            var group = document.getElementById("group").value;
            var oldgroup = document.getElementById("oldgroup").value;
            console.log(user)
            console.log(group)
            console.log(connection)
            connection.invoke("AddGroup", group, user, oldgroup).catch(function (err) {
                return console.error(err.toString());
            });
            document.getElementById("oldgroup").value = group;
            event.preventDefault();
        });
        connection.on("RecAddGroupMsg", function (message) {
            var msg = message;
            var li = document.createElement("li");
            li.textContent = msg;
            document.getElementById("msgDiv").appendChild(li);
        });
        // 群組訊息Button事件
        document.getElementById("submitGroupBtn").addEventListener("click", function (e) {
            var user = document.getElementById("name").value;
            var group = document.getElementById("group").value;
            var message = document.getElementById("msg").value;

            connection.invoke("SendMessageToGroup", group, user, message).catch(function (err) {
                return console.error(err.toString());
            });
        });

        // 群組訊息接收事件
        connection.on("ReceiveGroupMessage", function (groupName, user, message) {
            var msg = `[群組訊息(${groupName})]${user}：${message}`;
            var li = document.createElement("li");
            li.textContent = msg;
            document.getElementById("msgDiv").appendChild(li);
        });

        // 全頻道訊息訊息事件
        connection.on("ReceiveMessage", function (user, message) {
            var msg = `[全頻道訊息(${groupName})]${user}：${message}`;
            var li = document.createElement("li");
            li.textContent = msg;
            document.getElementById("msgDiv").appendChild(li);
        });
    </script>

</body>
</html>