@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/images/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>歡迎來到 <br> 鮮蔬果季</strong></h1>
                        <p class="m-b-40">目前當季最新鮮最好吃的草莓<br>馬上點擊下方連結盡興搶購 </p>
                        <p><a class="btn hvr-hover" href="#">馬上購買</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/images/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>歡迎來到 <br> 鮮蔬果季</strong></h1>
                        <p class="m-b-40">目前當季最新鮮最好吃的番茄<br>馬上點擊下方連結盡興搶購 </p>
                        <p><a class="btn hvr-hover" href="#">馬上購買</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/images/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>歡迎來到 <br> 鮮蔬果季</strong></h1>
                        <p class="m-b-40">目前當季最新鮮最好吃的馬鈴薯<br>馬上點擊下方連結盡興搶購 </p>
                        <p><a class="btn hvr-hover" href="#">馬上購買</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/categories_img_01.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">根莖類</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/categories_img_02.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">水果類</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/categories_img_03.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">蔬菜類</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->