@model List<鮮蔬果季_前台.ViewModels.SupplierViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form name="SupplierAdd">
    <div class="modal-body CreateBody">
        <div class="row">
            <div class="col-md-12">
                <div class="text-danger"></div>
                <input type="hidden" />
                <div class="form-group">
                    <label class="control-label">負責人</label>
                    <input class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">地址</label>
                    <input class="form-control" min="0" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">電話</label>
                    <input class="form-control" min="1" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">城市</label>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>  
</form>