@model List<鮮蔬果季_前台.ViewModels.SupplierViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-striped">
    <thead>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </thead>
    <tbody>
        @{ 
            int count = 0;
            foreach(var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@count</td>
                    <td>@count</td>
                    <td>@count</td>
                </tr>
            }
        }
    </tbody>
</table>
<div id=""></div>