@*加照片資料夾
*@
@{
    ViewData["Title"] = "ContactUs";
}
@section Styles{
    <style>

        /*  #標題text {
                    margin-top: 2vh;
                    font-family: 'Noto Sans TC', sans-serif;
                }
        */
        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            background: #fff url("~/images/tree.jpg" )center center fixed no-repeat;
            height: 100vh;
        }

        #contact .container #contact-row #contact-column #contact-box {
            margin-top: 6vh;
            margin-bottom: 6vh;
            max-width: 600px;
            height: 800px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
            border-radius: 10px;
        }

            #contact .container #contact-row #contact-column #contact-box #contact-form {
                padding: 20px;
            }

        #contact .container #contact-row #lcontact-column #contact-box #contact-form #register-link {
            margin-top: -93px;
        }

       /* * {
            box-sizing: border-box;
            letter-spacing: 0.05rem;
            outline: 0 none;
            margin: 0;
            padding: 0;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }*/
        select {
            width: 150px;
            padding: 12px;
            border: 0 !important;
            background-color: #EAEAEA;
            /* needed */
            -webkit-appearance: none;
            -moz-appearance: none;
            /* SVG background image */
            background-position: calc(100% - 1.3em) center;
            background-repeat: no-repeat;
        }
        .select::-ms-expand {
            display: none;
        }
        textarea {
            width: 500px;
            height: 650px;
            max-width: 500px;
            max-height: 650px;
            resize: none;
        }
    </style>

}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>聯絡我們</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Contact Start -->
<div id="contact">
    <div class="container">
        <div id="contact-row" class="row justify-content-center align-items-center">
            <div id="contact-column" class="col-md-6">
                <div id="contact-box" class="col-md-12" style="background-color: #FFF9E9;  padding-bottom:150px;">
                    <form id="contact-form" class="form" action="" method="post">
                        <h3 class="text-center" style="color: #8b4513; font-size:36px;font-family: 'Noto Sans TC', sans-serif;">聯絡鮮蔬果季</h3>
                        <h3 class="text-center">請提供簡述您所面臨到的問題，鮮蔬果季很樂意為您服務</h3>

                        <div class="form-group">

                            <select name="question1">
                                <optgroup label="請選擇:">
                                    <option>請選擇:</option>
                                    <option>地點錯誤</option>
                                    <option>時間未到</option>
                                    <option>準時送達</option>
                                    <option>外表出現瑕疵</option>
                                    <option>食用後異常</option>
                                    <option>產品評價</option>
                                    <option>品質服務</option>
                                </optgroup>
                            </select>
                            <select name="question2">
                                <optgroup label="請選擇:">
                                    <option>請選擇:</option>
                                    <option>地點錯誤</option>
                                    <option>時間未到</option>
                                    <option>準時送達</option>
                                    <option>外表出現瑕疵</option>
                                    <option>食用後異常</option>
                                    <option>產品評價</option>
                                    <option>品質服務</option>
                                </optgroup>
                            </select>
                            <select name="question3">
                                <optgroup label="請選擇:">
                                    <option>請選擇:</option>
                                    <option>地點錯誤</option>
                                    <option>時間未到</option>
                                    <option>準時送達</option>
                                    <option>外表出現瑕疵</option>
                                    <option>食用後異常</option>
                                    <option>產品評價</option>
                                    <option>品質服務</option>
                                </optgroup>
                            </select>
                        </div>
                        <div style="padding-bottom:20px"></div> @*間格用*@

                        <div class="form-group">

                            <div class="form-floating">
                                <textarea name="textarea" class="form-control" placeholder="請輸入內容" id="message" style="height: 450px"></textarea>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <a class="btn hvr-hover">傳送</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<!---->>


@*string Account = "testing@gmail.com";
    string Password = "test123";

    SmtpClient client = new SmtpClient();
    client.Host = "smtp.gmail.com";
    client.Port = 587;
    client.Credentials = new NetworkCredential(Account, Password);
    client.EnableSsl = true;

    MailMessage mail = new MailMessage();
    mail.From = new MailAddress(Account);
    mail.To.Add("test1@test.com");
    mail.Subject = "測試信";
    mail.SubjectEncoding = Encoding.UTF8;
    mail.IsBodyHtml = true;
    mail.Body = "第一行
    <br> 第二行
    <br>第三行
    <br>";
    mail.BodyEncoding = Encoding.UTF8;

    Attachment attachment = new Attachment(@"C:\fakepath\test.txt");
    mail.Attachments.Add(attachment);

    try
    {
        client.Send(mail);
    }
    catch (Exception ex)
    {
        throw ex;
    }
    finally
    {
        attachment.Dispose();
        mail.Dispose();
        client.Dispose();
    }*@