@*加照片資料夾
*@
@{
    ViewData["Title"] = "ContactUs";
}
@section Styles{
    <style>

        /*  #標題text {
                    margin-top: 2vh;
                    font-family: 'Noto Sans TC', sans-serif;
                }
        */
        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            height: 100vh;
        }

        #contact .container #contact-row #contact-column #contact-box {
            margin-top: 6vh;
            margin-bottom: 6vh;
            max-width: 600px;
            height: 800px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
            border-radius: 10px;
        }

            #contact .container #contact-row #contact-column #contact-box #contact-form {
                padding: 20px;
            }

        #contact .container #contact-row #lcontact-column #contact-box #contact-form #register-link {
            margin-top: -93px;
        }

        /* * {
            box-sizing: border-box;
            letter-spacing: 0.05rem;
            outline: 0 none;
            margin: 0;
            padding: 0;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }*/
        select {
            width: 225px;
            padding: 8px;
            border: 0 !important;
            background-color: #93c435;
            /* needed */
            -webkit-appearance: none;
            -moz-appearance: none;
            /* SVG background image */
            background-position: calc(100% - 1.3em) center;
            background-repeat: no-repeat;
        }

        .select::-ms-expand {
            display: none;
        }

        textarea {
            width: 450px;
            height: 650px;
            max-width: 450px;
            max-height: 1000px;
            resize: none;
        }
    </style>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>聯絡我們</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Contact Start -->
<div id="contact">
    <div class="container">
        <div id="contact-row" class="row justify-content-center align-items-center">
            <div id="contact-column" class="col-md-6">
                <div id="contact-box" class="col-md-12" style="background-color: #FFF9E9;  padding-bottom:150px;">
                    <form id="contact-form" class="form" action="" method="post">
                        <h3 class="text-center" style="color: #8b4513; font-size:36px;font-family: 'Noto Sans TC', sans-serif;">聯絡鮮蔬果季</h3>
                        <h3 class="text-center">請提供簡述您所面臨到的問題，鮮蔬果季很樂意為您服務</h3>

                        <div class="form-group">

                            <select id="feedback1">
                                <optgroup label="請選擇:">
                                </optgroup>
                            </select>
                            <select id="feedback2">
                                <optgroup label="請選擇:">
                                </optgroup>
                            </select>

                        </div>
                        <div style="padding-bottom:20px"></div> @*間格用*@

                        <div class="form-group">

                            <div class="form-floating">
                                <textarea name="textarea" class="form-control" placeholder="請輸入內容" id="message" style="height: 450px"></textarea>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <a class="btn hvr-hover">傳送</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<!---->>
@section Scripts{
    <script>
        const selFeedbackName = document.querySelector("#feedback1")
        const selFatherFeedbackId = document.querySelector("#feedback2")
        async function Loadfeedback() {
            //載入回應項目
            const response1 = await fetch('/ContactUs/FeedbackNames')
            RenderFeedbackName(await response1.json())
           
        }





        Loadfeedback()
        function RenderFeedbackName(datas) {
            selFeedbackName.options.length = 0
            datas.forEach((item) => {
                const opt = new Option(item.feedbackName, item.feedbackId) //name value
                selFeedbackName.options.add(opt)
            })
        }
        
        function RenderfatherFeedbackName(datas) {
            
            datas.forEach((item) => {
                const opt = new Option(item.feedbackName, item.feedbackId) //name value
                selFatherFeedbackId.options.add(opt)
            })
        }
        //載入回應項目
        selFeedbackName.addEventListener('change', async function () {
            const value = selFeedbackName.options[selFeedbackName.selectedIndex].value
            console.log(value)
            const response1 = await fetch('/ContactUs/FatherFeedbackIds/' + value)
            RenderfatherFeedbackName(await response1.json())
        })
       

    </script>
}


@*string Account = "testing@gmail.com";
    string Password = "test123";

    SmtpClient client = new SmtpClient();
    client.Host = "smtp.gmail.com";
    client.Port = 587;
    client.Credentials = new NetworkCredential(Account, Password);
    client.EnableSsl = true;

    MailMessage mail = new MailMessage();
    mail.From = new MailAddress(Account);
    mail.To.Add("test1@test.com");
    mail.Subject = "測試信";
    mail.SubjectEncoding = Encoding.UTF8;
    mail.IsBodyHtml = true;
    mail.Body = "第一行
    <br> 第二行
    <br>第三行
    <br>";
    mail.BodyEncoding = Encoding.UTF8;

    Attachment attachment = new Attachment(@"C:\fakepath\test.txt");
    mail.Attachments.Add(attachment);

    try
    {
        client.Send(mail);
    }
    catch (Exception ex)
    {
        throw ex;
    }
    finally
    {
        attachment.Dispose();
        mail.Dispose();
        client.Dispose();
    }*@