@*加照片資料夾
*@
@{
    ViewData["Title"] = "ContactUs";
}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>聯絡我們</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center">
                <span></span>
                <span></span>
            </p>
            <h2 class="text-center mb-5">鮮蔬果季</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <p class="text-center mb-4"> </p>
                    <form>
                        <select name="catordog">
                            <optgroup label="運送問題">
                                <option>地點錯誤</option>
                                <option>時間未到</option>
                                <option>準時送達</option>
                            </optgroup>
                            <optgroup label="產品問題">
                                <option>外表出現瑕疵</option>
                                <option>食用後異常</option>
                                <option>產品評價</option>
                            </optgroup>
                            <optgroup label="其他">
                                <option>品質服務</option>
                                <option></option>
                                <option>Fennec</option>
                            </optgroup>
                        </select>
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="" id="message" style="height: 150px"></textarea>
                                    <label class="single-product-details" for="message">留言</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn hvr-hover" type="submit">傳送</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
@*string Account = "testing@gmail.com";
string Password = "test123";

SmtpClient client = new SmtpClient();
client.Host = "smtp.gmail.com";
client.Port = 587;
client.Credentials = new NetworkCredential(Account, Password);
client.EnableSsl = true;

MailMessage mail = new MailMessage();
mail.From = new MailAddress(Account);
mail.To.Add("test1@test.com");
mail.Subject = "測試信";
mail.SubjectEncoding = Encoding.UTF8;
mail.IsBodyHtml = true;
mail.Body = "第一行
<br> 第二行
<br>第三行
<br>";
mail.BodyEncoding = Encoding.UTF8;

Attachment attachment = new Attachment(@"C:\fakepath\test.txt");
mail.Attachments.Add(attachment);

try
{
    client.Send(mail);
}
catch (Exception ex)
{
    throw ex;
}
finally
{
    attachment.Dispose();
    mail.Dispose();
    client.Dispose();
}*@