@{
    ViewData["Title"] = "ContactUs";
}
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center"><span></span><span></span></p>
            <h1 class="text-center mb-5">鮮蔬果季</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <p class="text-center mb-4"> </p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="請輸入姓名">
                                    <label for="name">姓名</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="請輸入信箱">
                                    <label for="email">信箱</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="" id="message" style="height: 150px"></textarea>
                                    <label for="message">留言</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn hvr-hover" type="submit">傳送</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->