@*加照片資料夾
*@
@model 鮮蔬果季_前台.ViewModels.FeedbackResponseViewModel
@{
    ViewData["Title"] = "ContactUs";
}
@section Styles{
    <style>
        h3 {
            font-family: 'Noto Sans TC';
            color: chocolate;
        }
        .container {
            
        }
        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            height: 100vh;
        }

        #contact .container #contact-row #contact-column #contact-box {
            margin-top: 6vh;
            margin-bottom: 6vh;
            max-width: 500px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
            border-radius: 10px;
            align-items: center;
        }

            #contact .container #contact-row #contact-column #contact-box #contact-form {
                padding: 20px;
            }

        #contact .container #contact-row #lcontact-column #contact-box #contact-form #register-link {
            margin-top: -93px;
        }


        select {
            color: #fff;
            width: 225px;
            padding: 8px;
            border: 0 !important;
            background-color: #93c435;
            /* needed */
            -webkit-appearance: none;
            -moz-appearance: none;
            /* SVG background image */
            background-position: calc(100% - 1.3em) center;
            background-repeat: no-repeat;
        }

        .select::-ms-expand {
            display: none;
        }

        button {
            color: #fff;
        }

        textarea {
            width: 450px;
            max-width: 450px;
            max-height: 1000px;
            resize: none;
            /*align-items: center;*/
        }
    </style>
}

<!-- Start All Title Box -->
<div class="clickmsgbox"></div>
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>聯絡我們</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">聯絡我們</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--============================================-->
<!--============================================-->


<div id="contact">
    <div class="container">
        <div id="contact-row" class="row justify-content-center align-items-center">
            <div id="contact-column" class="col-md-6">
                <div id="contact-box" class="col-md-12" style="background-color: #FFF9E9;  padding-bottom:150px; height:1100px;">
                    <form id="contact-form" class="form" action="~/ContactUs/Send" method="post" role="form" data-toggle="validator" align="center">
                        <input type="hidden" value="@Model.orderdetail.OrderDetailId" name="OrderDetailId" />
                        <h2 class="text-center" style="color: #8b4513; font-size:36px;font-family: 'Noto Sans TC', sans-serif;">聯絡鮮蔬果季</h2>
                        <h2 class="text-center">請敘述您的問題，鮮蔬果季很樂意為您服務</h2>
                        <hr />
                        <h3 class="text-center">供應商:@ViewBag.suppliername</h3>
                        <h3 class="text-center">產品名:@ViewBag.productname 訂單號:@ViewBag.orderid</h3>
                        <div class="form-group">

                            <select name="FatherFeedbackId" id="feedback1" class="form-control">
                                <option label="=======請選擇=======" align="center">
                                </option>
                            </select>
                            <div class="help-block with-errors">
                                <ol id="FatherFeedbackIdww"></ol>
                            </div>
                            <br />
                            <select name="FeedbackId" id="feedback2" class="form-control">
                                <option label="=======請選擇=======" align="center">
                                </option>
                            </select>
                            <hr />
                            <div class="help-block with-errors">
                                <ol id="FeedbackIdww"></ol>
                            </div>

                        </div>
                        <div style="padding-bottom:3px"></div> @*間格用*@

                        <div class="form-group">

                            <div class="form-floating">
                                <textarea name="FeedbackComment" id="FeedbackCommet" class="form-control" placeholder="請輸入內容" style="height: 600px" align="center"></textarea>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12" style="background-color: #FFF9E9">
                                <button type="button" class="btn btn-info btndemo">DEMO</button>
                                <button type="submit" id="submit" class="btn btn-success" align="center">傳送</button>
                            </div>                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<!---->>
@section Scripts{
    <script>
        const selFeedbackName = document.querySelector("#feedback1")
        const selFatherFeedbackId = document.querySelector("#feedback2")
        async function Loadfeedback() {
            //載入回應項目
            const response1 = await fetch('/ContactUs/FeedbackNames')
            RenderFeedbackName(await response1.json())

        }

        Loadfeedback()
        function RenderFeedbackName(datas) {
            datas.forEach((item) => {
                const opt = new Option(item.feedbackName, item.feedbackId) //name value
                selFeedbackName.options.add(opt)
            })
        }

        function RenderfatherFeedbackName(datas) {
            selFatherFeedbackId.options.length = 0
            datas.forEach((item) => {
                const opt = new Option(item.feedbackName, item.feedbackId) //name value
                selFatherFeedbackId.options.add(opt)
            })
        }
        //載入回應項目
        selFeedbackName.addEventListener('change', async function () {
            const value = selFeedbackName.options[selFeedbackName.selectedIndex].value
            console.log(value)
            const response1 = await fetch('/ContactUs/FatherFeedbackIds/' + value)
            RenderfatherFeedbackName(await response1.json())
        })

        $("#submit").click(function () {
            if ($("#feedback2").val() == "" || $("#FeedbackCommet").val() == "") {
                alert("尚未輸入回饋意見與回饋項目")
                return false
            }
        })
        $(document).on("click", ".btndemo", function () {
            console.log("OK")
            //$("#feedback1").val("11")
            //$("#feedback2").val("12")
            $("#FeedbackCommet").val("你好我的貨物還沒有收到，另外有沒有賣蓮霧呢")
        })


    </script>
}


